[2020-04-07 03:17] jsanda opened #25 "test manifests use images that are not publicly available"
I am trying to run some of the integration tests, but deploying the `CassandraDatacenter` objects fail. The manifests under `./tests/testdata` have the following in their specs:

[code]
Here is what `kubectl describe` reported:

[code]

[2020-04-07 03:56] jsanda opened #26 "update docs for expected keys for jvm options"
I was trying to run one of the integration tests that was using this manifest:

[code]
The config init container failed though with this exception:

[code]

@jimdickinson explained to me that the expected keys are different depending on the server version. They are as follows:

| server version | jmv options key |
| -------------- | :---------------:|
| 3.11                   | jvm-options       |

[2020-04-07 22:29] jsanda opened #30 "github actions CI does not support PRs from forks"
I came across this in #28.

The build for #28 failed with `Error: MO_ECR_REPO is a required environment variable`.

And the github actions [workflow](https://github.com/datastax/cass-operator/blob/master/.github/workflows/operatorPRBuildAndDeploy.yml#L28) has this:

[code]
It looks like the necessary env vars only get set if the repo is `datastax/cass-operator`.

[2020-04-08 15:16] sandoichi commented on #30
Looking into this to figure out why the
[code]
guard isn't preventing the ECR step from running on your PR. (All of the other steps should be and seem to be running fine)

[2020-04-08 17:50] sandoichi commented on #30
I opened a thread here: https://github.community/t5/GitHub-Actions/Preventing-a-step-from-running-on-a-PR-originating-from-a-fork/m-p/53276#M8771

To see if gh actions provide a reliable way to detect if a PR originated from a fork. None of the documented env vars/context properties seem to give us a way to tell.

[2020-04-09 14:53] sandoichi commented on #30
KO-376 should get this working as intended, to prevent the publish step from attempting to run at all on a fork PR. The build and unit test steps will still continue to work as expected.

[2020-04-09 15:31] #30 closed

[2020-04-09 16:27] sandoichi commented on #30
@jsanda if you merge the latest from master into your fork branch, this should be resolved properly now

[2020-04-09 22:34] robshep opened #40 "Host selector"
Is it possible to use a host selector label to only put database cluster pods on specific hosts.

E.g. nodeSelectors in the operator-generated pod spec
or tolerations that we could apply traits for.

Thanks

[2020-04-15 21:32] jsanda commented on #26
I am closing this since #38 has been merged.

[2020-04-15 21:32] #26 closed

[2020-04-15 21:51] jsanda opened #45 "CassandraDatacenterStatus.LastRollingRestart is confusing"
I provisioned a cluster and was watching the status updates for the `CassandraDatacenter`.

On the first update the status looked like this:

[code]

`lastRollingRestart` never changes.  I see that it `LastRollingRestart` gets set and the status patched when the `CreateReconciliationContext` function in `context.go` is called.

I see that `LastRollingRestart` does get updated when a rolling restar

[2020-04-16 04:05] jimdickinson commented on #40
Hi @robshep - thanks for reaching out. It isn't possible with the current code, but it's something we've wanted to support, and we've been in the process of gathering use cases. Could you describe your k8s cluster topology a little bit so we can add the right feature to help you?

As things stand in 1.0.0, we have a spot in the rack configuration to pin a rack to a `failure-domain.beta.kubernetes.

[2020-04-16 08:58] robshep commented on #40
Thank you for considering this.

Yes, we have heterogeneous clusters with different grade hosts. The vast majority of other services survive happily on general purpose nodes and can be scheduled anywhere.
We effectively want to provision a node pool specifically to support c7a clusters.
We can try and pin other general purpose services onto other nodes, but can't see a way of preventing cass-opera

[2020-04-16 14:51] jimdickinson commented on #40
Yeah - I think we can add support for https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector and it will cover your use case. Do you think you'll also need taints/tolerations support to keep your other pods from becoming Cassandra neighbors?

[2020-04-16 15:03] robshep commented on #40
Thank you.
Personally, our deployments are not sophisticated enough for this - everything else can be node-selected in a similar fashion.
Thanks

Rob

[2020-04-17 05:23] jimdickinson commented on #45
I can try to fix this, but we experienced problems with persisting a nil/zero metav1.Time - see the issue https://github.com/coreos/prometheus-operator/issues/2399

[2020-04-17 22:02] #40 closed

[2020-04-17 22:02] jimdickinson commented on #40
@robshep are you up for building from source, or would you like me to ping you next week when 1.0.1 goes out with this feature?

[2020-04-17 22:03] robshep commented on #40
Thanks. I'll keep my eye out for the build, no rush.  Thanks a lot.

[2020-04-19 16:40] jimdickinson commented on #25
This was fixed in #22 and #29

[2020-04-19 16:40] #25 closed

[2020-04-21 18:04] bradfordcp opened #51 "Document connecting to a cluster running within k8s from outside the k8s cluster"
It's pretty straightforward to connect from within the cluster (using a headless service or DNS entry), but how do you connect from outside k8s?

[2020-04-21 18:09] bradfordcp opened #52 "Guard rails around running multiple C* instances per k8s worker"
It's currently possible to allow multiple instances of C* per k8s worker. This can be painful if operators fail to specify limits and requests on the CassandraDatacenter object. The operator should throw an error if `allowMultipleNodesPerWorker` is set to `true` and there are no resource limits and requests.

This allows k8s to be a bit more thoughtful in scheduling and packing hosts. Ideally we c

[2020-04-21 18:17] bradfordcp opened #53 "Provide examples for Azure AKS and block storage class"
Similar to the YAMLs in https://github.com/datastax/cass-operator/tree/master/operator/k8s-flavors it would be helpful to see an Azure-based example. With this documentation in place, a full run of the integration test suite against an AKS cluster should also be performed.

[2020-04-21 18:42] bradfordcp opened #54 "Support many of the fields from PodSpec in CassandraDatacenterSpec"
For example, see the implementation of `PrometheusSpec` at https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec.

Specifically fields like:

- imagePullSecrets
- volumes
- volumeMounts
- configMaps
- tolerations
- containers
- etc...

should exist and be passed through or merged with values generated by the operator to the underlying stateful sets. This all

[2020-04-22 17:49] bradfordcp opened #57 "Documentation for Kind references old container names"
Now that the operator is GA the list of containers at `docs/developer/kind.md` should be updated to point at the GA containers.

- datastax/cass-operator:1.0.0
- datastax/cass-config-builder:1.0.0
- datastax/dse-server:6.8.0
- datastax/cassandra-mgmtapi-4_0_0:1.0.0
- datastax/cassandra-mgmtapi-3_11_6:1.0.0

[2020-04-22 21:46] jimdickinson commented on #40
@robshep Just released 1.1.0 which has the `nodeSelector` in the CassandraDatacenter, and it gets applied to all Cassandra pods. Let us know how it goes!

[2020-04-27 20:23] jimdickinson opened #61 "Add cqlsh login example to the README"
We have something good in https://github.com/datastax/cass-operator/blob/master/docs/user/README.md#superuser-credentials

but no examples in the README.

[2020-04-28 00:14] datazef opened #63 "Failed to delete a cluster as shown in the documentation"
It's not possible to delete a resource (using version 1.1.0) following the documentation commands. Below some of the different paths used, but all give the same results.

kubectl delete cassdc/dc1 -n cass-operator
Error from server: admission webhook "cassandradatacenter-webhook.cassandra.datastax.com" denied the request: there is no content to decode

kubectl delete cassdcs --all-namespaces
error

[2020-04-28 00:19] datazef opened #64 "Improve deployment failure"
Created a config mismatch (by error):
   - deployed k8s cluster in us-west1
   - configured a DSE deployment in zones outside of us-west.

Pods do not get started and stay in pending mode:
cluster1-dc1-rack1-sts-0         0/2     Pending   0          31m
cluster1-dc1-rack2-sts-0         0/2     Pending   0          31m
cluster1-dc1-rack3-sts-0         0/2     Pending   0          31m

No logs, can

[2020-04-29 09:12] joe-sch opened #66 "Run cassandra pods as nonRootUser"
It should be possible to define a different user than root in a  cassandradatacenter.

When i exec into a cassandra pod, i see that the pod is executed as root user.
But many k8s clusters have a policy which do not allow to run an image as root user.
In the crd definition i can't find an option to define a securityContext for the pods.

[2020-04-29 15:34] jimdickinson commented on #66
Do you have a cassandra docker image you've used previously that doesn't come up as root? I spent quite a bit of time looking at this because it's one of the few differences in the API for us to bring up DSE pods vs. Cassandra pods. The upstream images from https://github.com/docker-library/cassandra do start as root, and then they drop to a cassanda user using gosu just before Java starts. ([link

[2020-04-30 05:16] joe-sch commented on #66
Yes we have cassandra running in a dev environment (production is planned for autumn),
Our statefulset is based on this example: https://kubernetes.io/docs/tutorials/stateful-application/cassandra/. But we added a `securityContext` to run the cassandra pods as user 999.
The user and group with id 999 is built in: https://github.com/docker-library/cassandra/blob/master/3.11/Dockerfile

[code]

This

[2020-04-30 17:31] datazef commented on #63
1. If I recall correctly it was the lowest version available in GKE. 0.14.1?
2. Cluster is destroyed
3. GKE
4. MacOS & zsh

Next time I have the cluster operating, I will give it another try.

[2020-05-01 04:07] bradfordcp commented on #64
It's surprising that `kubectl describe pod cluster1-dc1-rack1-sts-0` didn't return anything. That's usually the first step when troubleshooting.

Can you share the status information you were able to retrieve?

[2020-05-01 17:11] jsanda opened #69 "Some creation events missing after creating a cluster"
I am using v1.1.0 of the operator. I created a cluster in GKE. Here is my cassdc spec:

[code]

I was monitor the provisioning progress with `kubectl -n cass-operator get -w cassdc multi-rack -o yaml`.

Once I saw `.status.cassandraOperatorProgress: Ready` I checked the events and here is what I saw,

[code]
The events for creating the PodDisruptionBudget and for creating the Cassandra super user

[2020-05-01 18:03] datazef commented on #64
At this point, the pod does not even exist and the describe command returns nothing. I will have to launch the cluster again to test. If you want to reproduce, deploy the cluster in region A and configure the racks to be in region B. The same error will be shown.

[2020-05-01 19:19] jsanda opened #71 "Default super user not completely disabled in new cluster"
I am using v1.1.0 of the operator. Here is my cassdc spec:

[code]
A quick test:
[code]

And then another test to see what is in `system_auth.roles`:

[code]

`can_login` and `is_superuser` are `False` for the `cassandra` user which is good, but there are a couple things that are bad IMO:

* The `cassandra` still exists at all
* The `cassandra` user is able to query `system_auth` tables which cont

[2020-05-01 22:09] jsanda opened #72 "CassandraDatacenter status updates not happening correctly during cluster creation"
I have reproduced this behavior consistently 3 or 4 times on a GKE cluster with 9 nodes spread across 3 zones. I am using v1.1.0 of the operator. Here is my cassdc spec:

[code]

I was watching status updates in the console and I have seen multiple times now. I will show the last few status updates to give a better picture of what is happening.

With this first update, we see that 8 pods are repor

[2020-05-04 16:01] bettinaswynnerton opened #74 "provide a method to correct a messed-up configuration in CassandraDatacenter yaml"
I introduced a typo into the config section of the cluster yaml, which resulted in the first pod hanging after restart with only 1/2 containers ready. In order to re-apply the corrected configuration I eventually needed to delete the whole statefulset.

Would it be possible to have a method for administrators that allows to correct a mistaken configuration in cassandra.yaml and jvm-options?

[2020-05-05 17:31] #63 closed

[2020-05-05 17:43] sandoichi commented on #63
@datazef I was able to reproduce this using k8s < v1.15, and it should be resolved now. You will need to use an cass-operator image with tag [5ae9bee52608be3d2cd915e042b2424453ac531e](https://github.com/datastax/cass-operator/packages/174279?version=5ae9bee52608be3d2cd915e042b2424453ac531e) or newer in your cluster.

[2020-05-06 14:58] jsanda commented on #69
These two PRs may be relevant to this ticket:

* https://github.com/kubernetes/kubernetes/pull/47367
* https://github.com/kubernetes/kubernetes/pull/51032

There is definitely some throttling in place with events. I have not had much time to look at the events related code in the client-go library, but I think the issue I hit is the number of events generated within a certain time window.

Maybe d

[2020-05-06 16:03] jsanda commented on #69
There is an event rate limit admission control plugin. I need to find out if it is enabled by default in GKE clusters. Here is the [design proposal doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/admission_control_event_rate_limit.md). Definitely pertinent to this ticket.

[2020-05-07 16:07] johntrimble commented on #69
I've reproduced this problem by generating 100 fake events during reconciliation. It appears that generating many events leads to some events being dropped.

These are the relevant lines from `CheckDcPodDisruptionBudget()` that generate the `PodDruptionBudget` `CreatedResource` event:

[code]

Looking at the operator logs we see:

[code]

We also do _not_ see an error, meaning the `Recorder.Eventf

[2020-05-07 16:09] johntrimble commented on #69
Note that I tested this using a k8s cluster built using Kubespray, so the issue is not unique to GKE.

[2020-05-12 19:55] jimdickinson commented on #57
@sandoichi fixed this in #79

[2020-05-12 19:55] #57 closed

[2020-05-13 16:36] eldondevat opened #86 "Operator unable to open certificate files for the webhook"
Some users are experiencing errors with the tls certificates for the webhook, where opening the configured files does not seem to be working. These files specifically would be created by the same process that is trying to read them, because files are provided to the webhook manager via a certificate directory.

https://community.datastax.com/questions/3906/can-i-use-the-cass-operator-on-an-openshi

[2020-05-13 17:12] johntrimble commented on #72
Part of the problem here is that we do not get the host id for the node until the pod is started, when really we should get the host id while the node is bootstrapping (we have KO-348 internally for this). As a result, all the pods for the datacenter can become ready before we've actually collected all of this information.

When we added conditions (KO-385) we also fixed a bug where updates to the

[2020-05-13 17:17] johntrimble commented on #69
To summarize what we've done to resolve this issue:

1. Events may get dropped so `kubectl events --watch` and `kubectl describe` are not reliable ways to get all events.
2. To provide a way to get access to all events for diagnostic purposes, #76 made it so that all events are also logged.

[2020-05-13 17:17] #69 closed

[2020-05-15 00:44] #54 closed

[2020-05-19 15:10] jgoeres commented on #54
When will we have a release with this change? In particular, I need imagePullSecrets for an environment with an internal registry that does not allow anonymous pull access.

[2020-05-19 15:50] jimdickinson commented on #54
@jgoeres We're planning to cut a release this week - I'll ping you again when it's up. You can already use an internal registry by setting `serviceAccount` on the `cassdc` - would that work for you? You're right this feature does open up a more direct path for many customizations.

[2020-05-19 16:24] bradfordcp opened #92 "Support specifying a default image repository for all container images"
If I'm running the operator in an environment with a private registry it would be helpful to inform the operator where these images reside and have it use this location for all CassDCs. This keeps YAMLs clean as users won't have to specify the config builder and server image values if all of their images come from the same internal location.

With that being said even if a new default is specified

[2020-05-19 16:26] bradfordcp commented on #92
To be clear this may reside in multiple environment variables like:

CASSANDRA_SERVER_IMAGE_REPOSITORY=datastax/cassandra_with_mgmt_api
DSE_SERVER_IMAGE_REPOSITORY=datastax/dse-server
CASS_CONFIG_BUILDER_IMAGE_REPOSITORY=datastax/cass-config-builder

[2020-05-20 07:23] jgoeres commented on #54
Thanks, I will give the serviceAccount-based approach a try.
Eagerly waiting for the release. :-)

[2020-05-21 16:09] #74 closed

[2020-05-21 17:33] jimdickinson commented on #86
@eldondevat this should be closed as fixed now, right?

[2020-05-21 17:51] tjake commented on #71
This happens in the management-api.  When discussing this feature we thought not creating the C* user wasn't enough. Since the C* will create the superuser if when it starts a chance the C* user could be created at some point in the future. So we create it and disable it.

What's surprising is that can_login = False yet cqlsh lets it in?

[2020-05-21 19:34] jimdickinson commented on #71
I spoke to @jsanda at this and we thought it was likely to be about Cassandra having auth off by default - which we could fix with the idea of a more opinionated default config in the CassDC.

[2020-05-21 20:15] jsanda commented on #71
This surprised me as well. @tjake does the management-api disable the default superuser by directly updating the `system_auth.roles` table?

In general users should have auth enabled, so I think it is worth considering having it enabled by default. Far too often users decide to enable auth after a cluster is already running in production, and there is a non-trivial amount of work involved to make

[2020-05-22 03:22] bradfordcp commented on #64
Are you running your control plane in us-west and worker nodes in another region? How are you handling IP connectivity between the regions?

[2020-05-26 17:22] datazef commented on #64
So, it was done as a mistake. I did not want to separate control plane from nodes. Just created like that and had a hard time understanding I had a bad setup. I hope this clarifies.

[2020-05-28 02:38] pratapagiri opened #98 "Unable to install cass-operator using helm chart"
I have followed below steps to install cass-operator on docker-desktop (windows)

[code]

I'm getting below error:
[code]

here is my values.yaml

[code]

Could you please suggest how to resolve this issue?

[2020-05-28 02:59] pratapagiri commented on #98
Looks like https://github.com/datastax/cass-operator/pull/89 has broken the funtionality.

When I installed using the version before this pull request -89, everything works fine.

It looks like pod is trying to bind to port 443 which is allowed only for root user (ports < 1024 are restricted).

[2020-05-28 03:10] jimdickinson commented on #98
thanks for the detective work! I'll try to reproduce this, but our integration tests all use the helm chart and they're passing - how is Kubernetes running on Docker Desktop for Windows? Are you using KIND or Minikube? I'm not very familiar with that setup.

[2020-05-29 01:39] pratapagiri commented on #98
@jimdickinson , I'm using the [Kubernetes](https://www.docker.com/products/kubernetes) that is supported in docker desktop (windows).

I have just tested in Linux k8s system and it's working fine. Seems like issue only with docker desktop k8s (on windows).

[2020-05-29 19:13] #86 closed

[2020-06-02 01:42] jeromatron opened #101 "Add an example using the pod template spec in the docs and/or examples"
Using the pod template spec can be tricky because you have to have at least an empty containers field ([]).  Would be good to have an example in the docs and/or the examples so people know that is required.

[2020-06-02 01:44] jeromatron opened #102 "Add an example of specifying a private registry in docs and/or docs"
Because of security practices or policies, having a private registry may be required.  It would be nice to have an example config with a custom registry, possibly with a little bit of context of when then might be done.

[2020-06-03 18:43] jimdickinson commented on #54
@jgoeres we released last Friday - let me know if you're able to hit your internal registry!

[2020-06-04 17:22] johntrimble commented on #102
Thanks for the feedback! We will add example of how to do this.

[2020-06-04 17:23] johntrimble commented on #101
Thanks for the feedback! I wasn't even aware of needing to specify an empty containers field. I imagine this is because we reuse the same PodTemplateSpec used in StatefulSets (among some other types). We'll definitely get an example of how to use this.

[2020-06-04 19:33] bradfordcp opened #106 "Specify resources for the cass-operator container"
As good citizens on a K8s cluster the cass-operator should specify the resources required for it to perform its job. Do we have metrics around the system that cass-operator requires?

[2020-06-04 19:36] bradfordcp commented on #101
This _may_ be merged with #102 as `PodTemplateSpec` is used to specify the secret. Some scenarios to consider illustrating with `PodTemplateSpec`:

* Specify a logging sidecar pointed at /foo/bar
* Specify imagePullSecrets
* Supply custom initContainer to set secret values

[2020-06-04 21:07] bradfordcp opened #107 "Revisit permissions granted to the `cass-operator` service account"
It looks like there are a number of permissions assigned to the service account which are not required at this time.

Please revisit (or justify) the following resources:

* endpoints
* service monitors
* daemon sets
* replica sets
* deployments

As part of this exercise let's put together a bit of documentation around each permission and why we need it.

[2020-06-05 05:01] #72 closed

[2020-06-05 14:29] kri5 opened #108 "PodTemplateSpec Does not allow configuring existing containers"
I would have supposed that the containers and initcontainers already used by the operator could be configured/overriden by specifying some keys on the PodTemplateSpec, and thoses would be merge on top of the default values.

Use case would be to pass to the cassandra config init container some environment values interpolated from secrets, or some volumemounts, but it seems that it just append the

[2020-06-05 15:25] bradfordcp commented on #108
Related #101

**Short Answer:** Yes

**Long Answer:**

A collection of `initContainers` is by design. We prepend our `initContainer` to render out the basic configuration which then allows the user provided `PodTemplateSpec.initContainers` to modify any values that have been generated.

I don't expect to see many `cassandra` containers in the same Pod. Do you have a use case for this?  Right now,

[2020-06-05 15:59] kri5 commented on #108
Below comes an example of what i am trying to achieve

[code]

What i want to achieve it being able to pass values from secrets via env to the init-container dealing with the configuration, and mounting volumes into the cassandra container, and also specifing tolerations on all thoses containers.

[2020-06-05 17:13] jimdickinson commented on #108
Can you do this with a second init container? It's guaranteed to run after the config-builder init container.

[2020-06-05 17:18] kri5 commented on #108
I could indeed have another init container that contains exactly the same things as the `server-config-init` one, and add my config there, but it defeats the point of DRY.

[2020-06-05 17:22] kri5 commented on #108
And i do not see how i could pass custom volume mounts to the `cassandra` container

[2020-06-05 20:44] jimdickinson commented on #108
I'll try to sketch up a working example this weekend of how you get secrets from an added init container, but maybe we need to create another volume mount for this purpose. Are you opposed to using the existing `/config` in your init container?

[2020-06-05 20:51] bradfordcp commented on #108
There's no need to repeat the same things as `server-config-init`. That container is still run if you specify your own initContainers. See https://github.com/datastax/cass-operator/blob/master/operator/pkg/reconciliation/constructor.go#L493 where we prepend `server-config-init` to anything passed from the template.

Right now we don't allow for adding additional volumes to the `cassandra` containe

[2020-06-05 22:09] eldondevat commented on #108
@kri5 We'd be interested in your specific TLS strategy here. The initial issue description here is very general, but we should be able to support TLS in a feature-rich and cassandra-oriented way, so having a TLS-specific discussion might be worthwhile.

[2020-06-08 09:18] kri5 commented on #108
Basically, my ideas was to use the existing cass-config-builder initcontainer and append some values to it (https://github.com/datastax/cass-config-builder).

I want to generate the configuration in order to have node-to-node encryption using a truststore, that is password protected. The key of the truststore is held in a kubernetes secrets. So i thought that i could use Kubernetes Downward API to

[2020-06-08 23:09] ninjaslothx opened #110 "Watch multiple namespaces?"
I see the container spec has an env variable for WATCH_NAMESPACE.
https://github.com/datastax/cass-operator/blob/master/docs/user/cass-operator-manifests-v1.17.yaml#L6308

Is it possible to have the operator watch multiple or all namespaces?

[2020-06-08 23:16] jimdickinson commented on #110
Yes, that env var can accept a comma delimited list of namespaces. Clearing it should have one operator watch all namespaces.

source: https://sdk.operatorframework.io/docs/golang/quickstart/#manager

[2020-06-08 23:36] ninjaslothx commented on #110
Thank you! Works as described.

[2020-06-08 23:36] #110 closed

[2020-06-09 14:49] jsanda opened #111 "Add support for k8s 1.18"
I tried running integration tests in a Kind cluster with version info as follows:

[code]

I hit a validation error with the CRD that is due to the operator not yet supporting k8s 1.18:

[code]

[2020-06-09 15:59] jsanda opened #113 "Add support for Reaper"
I propose adding support for running repairs with [Reaper](http://cassandra-reaper.io) by introducing a Reaper sidecar. Reaper already has a [sidecar mode](http://cassandra-reaper.io/docs/usage/sidecar_mode/) which lends itself really well to this.

High level goals for initial integration include:

* Run Reaper as a sidecar container
* Make deploying Reaper optional
* Provide ability to add/remov

[2020-06-09 20:53] johnsmartco opened #114 "Look into Doc UI tabs for per-platform info"
See a page like https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-using-native-package-management.  Where relevant, it would be helpful to have per-platform tabs on Cass Operator doc pages. John Smart will discuss with Paul Tepley.

[2020-06-09 20:54] johnsmartco commented on #114
Would like to apply Documentation label to this issue #114.  Unable.

[2020-06-10 02:31] ninjaslothx opened #115 "validation fails if multiple watch namespaces"
If modifying the WATCH_NAMESPACES var ensureWebhookConfigVolume and ensureWebhookCertificate fails.

The namespace var is imported from the WATCH_NAMESPACE env var here:
https://github.com/datastax/cass-operator/blob/master/operator/cmd/manager/main.go#L97

While the use of multiple namespaces has been accounted for here https://github.com/datastax/cass-operator/blob/master/operator/cmd/manager/ma

[2020-06-10 03:25] jimdickinson commented on #115
Thanks for the bug report! I think there's an established way to get the operator's runtime namespace here...

https://github.com/operator-framework/operator-sdk/blob/master/pkg/k8sutil/k8sutil.go#L64

So I think we can fix this without an extra env var. Thinking about this a little more, RBAC will probably stop the operator from creating resources in another namespace with our stock configuration

[2020-06-11 14:31] Born2Bake opened #118 "replication factor"
Hi folks,

I am wondering, if replication factor is not working properly as it should.

I ve added:

[code]

However, when I have 2 nodes their owns 100%, if nodes are 3 then they look odd...

[code]

Is there something what I am doing wrong? Thank you

[2020-06-11 14:49] JeremiahDJordan commented on #118
Most likely you need to specify a keyspace name when running `nodetool status` to see the effects of the replication factor on ownership.

[2020-06-11 16:37] Born2Bake commented on #118
Okay, I did check on keyspaces:
[code]

Thus, I would expect system_auth keyspace to be the same RF of 3 too. However, its not.

Thank you

[2020-06-11 16:44] jimdickinson commented on #118
@Born2Bake looks like you only have one rack defined (a single rack named `default` is what you get when you don't specify any `racks` key in the `cassdc`). I think that's part of your problem.

[2020-06-11 17:33] Born2Bake commented on #118
Hi,

Thank you for your response. I am wondering, if system_traces should not have 100% owns? Now I got:

[code]

[2020-06-11 23:33] rltvty commented on #115
I think I encountered this RBAC issue.  After clearing the `WATCH_NAMESPACE` var, I'm getting the following from the deployment logs:

[code]

I'd like to deploy the operator in a single namespace, and then be able to create Cassandra datacenters in multiple namespaces.  There may be many namespaces where I do this, so I'd like to avoid having to deploy the operator to each namespace first.

[2020-06-12 03:05] rltvty commented on #115
I had to update the `clusterRole` to the following to get this to work:

[code]

[2020-06-12 03:11] rltvty commented on #115
I also had to make some minor code changes to get this to work, based on @jimdickinson comment above.

See my PR: #119

[2020-06-12 14:50] jimdickinson commented on #115
@rltvty Thanks for the PR and the example expanded ClusterRole! I think we'll make a helm chart parameter to make the more privileged cluster role for some situations, but we also recommend running one operator per namespace. With one operator, two different CassandraDatacenters will not be reconciled concurrently.

[2020-06-12 15:32] kri5 commented on #108
Any thoughts on this topic? Any non-TLS configuration that would need the same benefits? (Interpolated values from secrets through env-var, volume mounts in cassandra/init container)

[2020-06-12 15:38] jimdickinson commented on #108
Are you planning on having the truststore be different per pod / Cassandra node?

[2020-06-12 15:41] eldondevat commented on #108
@kri5 We're still discussing the use cases we have internally. I think the reason for the previous init container recommendation is that each container may need its own distinct TLS components based on the network identity it has. Enabling volume mounts could make sense, but we need to identify what strategies make the most sense to bake into the current init container.

[2020-06-13 04:04] jsanda opened #120 "StatefulSet can be orphaned after podTemplateSpec update"
**Summary**
If you update `.spec.podTemplateSpec` and then subsequently delete the `CassandraDatacenter`, the Statefulset does not get deleted. It looks like this is caused by the controller reference not getting set on the updated StatefulSet after `podTemplateSpec` is updated.

This is happening in master.

**Steps to Reproduce**
Deploy `CassandraDatacenter`:

[code]

After the `dc1` is ready, u

[2020-06-15 03:08] jimdickinson commented on #120
Great find!

[2020-06-15 03:23] bradfordcp commented on #115
It may be worth looking into how this is handled with Operator Lifecycle Manager. In their Cluster Service Version (CSV) all permissions are captured as a template for creating the appropriate service account and roles. They already support deploying an operator-sdk backed operator across namespaces.

[2020-06-15 20:57] jimdickinson commented on #64
I think we're on par with k8s in general as far as this ticket goes. You can use affinities / or node selector in ways that will never be satisfied. I think we can add this case to a FAQ we maintain. Opened #123 to capture this.

[2020-06-15 20:57] #64 closed

[2020-06-15 20:58] jimdickinson commented on #118
I've reproduced this and we're working on getting it fixed. Thanks @Born2Bake!

[2020-06-16 17:29] jimdickinson commented on #118
Opened https://github.com/datastax/management-api-for-apache-cassandra/issues/22 to track some part of the fix more clearly.

[2020-06-17 00:36] steve-todorov opened #126 "Unable to provision cassandra cluster when using no-provisioner storage class"
Hi,

I've been trying to figure out how to get the `cass-operator` v1.2.0 to work on a testing bare metal k8s cluster.
The cluster has a few nodes where I'd like to have a cassandra cluster running. According to the `README.md`, I should create a `StorageClass` and then configure it in the `CassandraDatacenter`. This, however, does not work with [Local storage class](https://kubernetes.io/docs/con

[2020-06-17 04:10] #45 closed

[2020-06-17 04:14] #61 closed

[2020-06-17 04:31] jimdickinson commented on #126
Thank you for all the detailed info! We've tested/used https://github.com/rancher/local-path-provisioner to get dynamic local volume support - can this work for your use case? I was pleasantly surprised that it effectively pins pods to the worker node that their volume goes onto, and if that host (or disk) goes away, you're left with a pending pod instead of a pod that lost its state. This works w

[2020-06-17 04:33] jimdickinson commented on #120
Fixed by #121

[2020-06-17 04:33] #120 closed

[2020-06-17 17:18] eldondevat opened #127 "Make Ergonomic and Easy automation for Internode Encryption"
Currently, we've discussed using additional, user-supplied initcontainers to provision certificates for internode encryption (as discussed in #108), but it would be nice to have an easy, ergonomic provisioning method for internode encryption. This could be based on a user-supplied CA, an operator-generated internal CA, or individually provisioned certificates. The purpose of this ticket is to get

[2020-06-17 19:50] steve-todorov commented on #126
Thank you very much for pointing me to [rancher/local-path-provisioner](https://github.com/rancher/local-path-provisioner)! We are actually using our cluster through Rancher so this seems to be a great fit for our purpose.

[2020-06-17 19:50] #126 closed

[2020-06-19 20:21] jimdickinson commented on #127
After looking into cert-manager a bit, I don't think it helps us much here. It would be great at getting the same cert on all of the Cassandra pods.

[2020-06-23 01:39] bradfordcp opened #130 "Add support for specifying workload via standard config-builder syntax."
Right now setting the workload is ignored as the entrypoint script incorrectly links the "default" configuration file. We also investigated adding the appropriate environment variables via dse-env.sh, but that is waiting for a new release of cass-config-builder.

[2020-06-23 01:44] bradfordcp opened #131 "Support "Seed Hinting""
As we look to start supporting C* clusters that span K8s clusters we need to start adding some building blocks around the seeds list. Currently, cass-operator configures the seed list with the DNS name for the DC seed service. If a user specifies a seed entry (or entries) in their `spec.config.cassandra-yaml.seeds` YAML path we should not override it and simply append the value for this CRs DC.

[2020-06-23 02:24] jimdickinson commented on #111
Some relevant info about why our CRD works in 1.17 but is broken in 1.18 is here https://github.com/operator-framework/operator-sdk/issues/3235

[2020-06-23 11:50] devdattakulkarni opened #133 "Add CRD installation hints in Helm chart"
When installing the Operator using Helm, it is necessary to install the CRDs first.

Helm provides mechanisms towards this. In Helm 2.0, there is 'crd-install' hook annotation. In Helm 3.0, there is the 'crd' directory. Check following for an example of 'crd-install' hook.

https://github.com/cloud-ark/kubeplus/blob/master/Guidelines.md#include-crd-installation-hints-in-helm-chart

Given that curr

[2020-06-23 12:03] devdattakulkarni opened #134 "Broken link"
This link is referred to in the User documentation page. But it is giving 404.

https://github.com/datastax/cass-operator/blob/master/docs/user/cass-operator-manifests.yaml

[2020-06-23 14:13] devdattakulkarni opened #135 "Namespace question"
The README shows an example of deploying DSE in a namespace and also creating the datacenter instance in the same namespace.

It will be good to address in the README if it is possible to deploy the Operator in one namespace and allow creating clusters in other namespaces. Check this for details:

https://github.com/cloud-ark/kubeplus/blob/master/Guidelines.md#make-custom-controllers-namespace-awa

[2020-06-23 15:55] bradfordcp commented on #131
It looks like the path I mentioned above `spec.config.cassandra-yaml.seeds` does NOT exist. The correct path would be `spec.config.cluster-info.seeds`. See https://github.com/datastax/cass-config-builder/blob/master/README.md#cluster-info-key for more information.

[2020-06-23 15:57] bradfordcp commented on #135
It is definitely possible to run the operator in a separate namespace from the one that it is watching for Custom Resources. I agree it should be clearer how to configure this.

[2020-06-23 16:00] bradfordcp commented on #130
To be clear the workload is defined in the `datacenter-info` key of the `spec.config` block. See https://github.com/datastax/cass-config-builder/blob/master/README.md#datacenter-info-key for more information

[2020-06-23 17:42] jimdickinson commented on #133
`apiVersion: 2` is for helm 3.x I believe.

I saw in some docs that the `crd-install` doesn't support templating, which we are using to support multiple versions of k8s.

[2020-06-23 17:45] jimdickinson commented on #135
Yeah, another issue opened recently also pointed out that we could have a flow where we create a ClusterRole/ClusterRoleBinding to facilitate an operator that can manage resources in other/all namespaces. We'll add something to the helm chart and the docs.

[2020-06-23 18:33] devdattakulkarni commented on #133
@jimdickinson You are correct. v2 is for Helm 3.x

In that case you don't need crd-install hook. But then I would suggest putting the crd in its own dedicated directory named 'crd's.

https://helm.sh/docs/topics/v2_v3_migration/

[2020-06-23 18:50] rltvty commented on #115
Thanks for the comments here.  I'll move to one operator per namespace.

[2020-06-24 00:08] kensipe commented on #111
@jimdickinson @jsanda FYI.... this issue is an issue in k8s with the introduction of validation in 1.18 around `x-kubernetes-list-map-keys` detailed on this https://github.com/kubernetes-sigs/controller-tools/issues/444
We are seeing a number of operators fail in this way.   The discussion in the WG API Expression meeting today is that a solution is being worked on and it will be back-ported to 1.

[2020-06-24 00:10] kensipe commented on #111
I should add that it looks like the assuming in this issue is that cass-operator doesn't support 1.18 when it is a change in 1.18 that is the issue.   The worth around fix is to provide a default for protocol which will work... but this is a code generated file... it will break every time the code is re-generated :(

[2020-06-25 12:03] devdattakulkarni opened #138 "ConfigBuilderImage field in Type definition"
In the CassandraDatacenterSpec, there is ConfigBuilderImage field defined:
https://github.com/datastax/cass-operator/blob/master/operator/pkg/apis/cassandra/v1beta1/cassandradatacenter_types.go#L131

Wondering if users will be able to understand the purpose of this field and use it correctly?

[2020-06-25 20:32] bradfordcp opened #141 "Document connecting via the NGINX Ingress Controller"
_copy-paste description from high-level research_

### NGINX

[NGINX Ingress controller](https://docs.nginx.com/nginx-ingress-controller/overview/#nginx-ingress-controller) works with both NGINX and NGINX Plus and supports the standard Ingress features - content-based routing and TLS / SSL termination. Additionally, several NGINX and NGINX Plus features are available as extensions to the `Ingress`

[2020-06-25 20:34] bradfordcp opened #142 "Document connecting via Kong Gateway"
### Kong Gateway

[Kong Gateway](https://docs.konghq.com/2.0.x/proxy/) is an open-source, lightweight API gateway optimized for microservices. While usually this relates to HTTP and gRPC based services the Kong Gateway includes Layer 4 routing which meshes extremely well with our use case. Kong Gateway builds off the open-source Nginx project with some functionality being offloaded to Lua plugins.

[2020-06-25 20:35] bradfordcp opened #143 "Document connecting via Envoy"
### Envoy

[Envoy](https://www.envoyproxy.io/docs/envoy/latest/intro/what_is_envoy) is an open source, high performance L3, 4, & 7 proxy written in C++. While not specifically an ingress controller it is worth including in the list here as it may be configured to function as an ingress gateway.

#### Sample Implementations

* Port based load balancing _TBD_
* TLS based load balancing with mTLS _TB

[2020-06-25 20:35] bradfordcp opened #144 "Document connecting via Ambassador"
### Ambassador

[Ambassador API Gateway](https://www.getambassador.io/docs/latest/topics/install/install-ambassador-oss/) builds off of the Envoy proxy turning it in to an Ingress controller. The `TCPMapping` custom resource handles routing requests and terminating TLS connections with SNI.

#### Sample Implementations

* Port based load balancing _TBD_
* TLS based load balancing with mTLS _TBD_
*

[2020-06-25 20:36] bradfordcp opened #145 "Document connecting via Gloo"
### Gloo

[Gloo](https://docs.solo.io/gloo/latest) is a feature-rich, Kubernetes-native ingress controller, and next-generation API gateway. It leverages the Envoy proxy in a way similar to Ambassador providing plumbing between custom resources proxy configurations.

#### Sample Implementations

* Port based load balancing _TBD_
* TLS based load balancing with mTLS _TBD_
* TLS based load balancing

[2020-06-25 20:36] bradfordcp opened #146 "Document connecting via HAProxy Ingress"
### HAProxy Ingress

[HAProxy](https://haproxy-ingress.github.io/docs/) is a legendary TCP / HTTP load balancer that has been deployed and in use long before Kubernetes became popular. Given its history it was only a matter of time until configuration for this tooling became possible with Kubernetes Custom Resources.

_Note_ that HAProxy closely follows the k8s ingress specification and does **not

[2020-06-25 20:37] bradfordcp opened #147 "Document connecting via Voyager"
### Voyager

[Voyager](https://voyagermesh.com/docs/v12.0.0/welcome/) is a HAProxy backed secure L7 and L4 ingress controller for Kubernetes. It smoothes over some of the rough edges of the pure HAProxy implementations above with cleaner configurations for more advanced configurations.

#### Sample Implementations

* Port based load balancing _TBD_
* TLS based load balancing with mTLS _TBD_
* TLS

[2020-06-25 20:40] bradfordcp opened #148 "Make sample-java-application more CLI friendly"
Currently the sample-java-application is a bit clunky. It only supports changing the CqlSession implementation in the Java code requiring a rebuild. It would be helpful (and a bit more user-friendly) to support providing an argument indicating the type of session to build and potentially specify connection information. Alternatively, we could leverage reference.conf files and let the user override

[2020-06-26 14:57] johnsmartco opened #149 "Document using DSE Backup & Restore (beta) steps with DB deployed in K8s cluster"
DSE 6.8 docs have a set of Backup & Restore (B&R) beta topics that start here:
https://docs.datastax.com/en/dse/6.8/dse-admin/datastax_enterprise/operations/opsBackupRestoreServiceTOC.html

Info given to the writer included: "The DSE Backup and Restore Service is currently in beta and is intended to be used by users provisioning DSE via the DataStax Cass Operator in a Kubernetes cluster."

... and

[2020-06-30 16:08] johnsmartco commented on #134
Ok yeah, @devdattakulkarni is correct that the link in the readme at https://github.com/datastax/cass-operator/tree/master/docs/user -- in the Deploy the operator section, https://github.com/datastax/cass-operator/tree/master/docs/user#deploy-the-operator -- incorrectly links to <a href="/datastax/cass-operator/blob/master/docs/user/cass-operator-manifests.yaml">operator-manifests YAML</a>.

Need

[2020-06-30 18:52] #134 closed

[2020-07-02 19:12] rltvty opened #154 "Is there a way to set annotations on the created pods?"
It would be great if there was a way to pass a list of annotations (and maybe labels too), that would be applied to all the StatefulSets and resultant Pods created by the Datacenter config.

My specific use case is for adding annotations for the configuration of Linkerd service mesh on the pods.  I'm currently setting config at the namespace level, but I'd much rather set it at the pod level.

Ref

[2020-07-04 00:22] yabinmeng opened #155 "Better validation of DSE/C* cluster "cassdc" resource definition yaml file"
Currently the operator has minor difference regarding "cassdc" resource definition other than serverType/serverVersion.

For OSS C* cluster, we need to use "jvm-options" and for DSE cluster, we need "jvm-server-options". If we misuse them, there is no error message and DSE/C* Pods simply end up in "Init:CrashLoopBackOff" status. Checking Pod logs also doesn't give much insights on where is the pro

[2020-07-05 21:37] #51 closed

[2020-07-06 10:44] nastra commented on #118
Should hopefully be fixed by https://github.com/datastax/management-api-for-apache-cassandra/pull/28

[2020-07-09 20:50] eldondevat opened #157 "Consider writing management api logs to filesystem."
We already write the cassandra server logs to a volume here:
https://github.com/datastax/cass-operator/blob/30ac85f3d71886b750414e90476c42394d439026/operator/pkg/reconciliation/constructor.go#L395

In situations where kubelet-maintained logs may be broken or unavailable, or for the ease of grabbing a set of logs for support purposes, it might be worthwhile to write the management api logs to this

[2020-07-14 14:06] SkySonR opened #161 "Scale down does not work"
After changing of spec.size: 3 to spec.size: 1. Nothing happens and in logs I see multiple error related changing of size.
[code]

[2020-07-14 14:15] SkySonR opened #162 "NodeSelector/NodeAffinity"
Possibility to specify NodeSelector or NodeAffinity does not documented.
I already tried to specify spec.NodeSelector and it's works but not documented

[2020-07-14 16:51] jimdickinson commented on #161
Thank for you for the issue report. Our docs should call out that automated scaling down isn't supported / implemented, yet. (It is technically possible with some hackery using `kubectl exec` and management API requests or `nodetool` to do `removenode` / `decommission`.)

I also thought we had a bit of logic in our validating webhook to prevent lowering the size, so you'd get a friendly message th

[2020-07-14 16:54] SkySonR commented on #161
@jimdickinson Thanks for information

[2020-07-14 17:00] SkySonR opened #163 "JMX port exposing"
Hi! There are no information how to expose JMX port. I have added necessary options to java arguments:
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.rmi.port=7199
In the code I see the commend and nothing else:
https://github.com/datastax/cass-operator/blob/4dd8e7c5d53398bb827dda326762c2fa15c131f9/operator/pkg/apis/cassandra/v1beta1/cassandradatacenter_types.go#L557

So I think use

[2020-07-14 17:40] jimdickinson commented on #162
We'll get these written up. Would you mind letting us know the problem you want to solve with `nodeAffinity` - like the rough topology of your k8s cluster? I think we'll need a small code change to get that to work, but documenting how the affinities you pass in via a pod template interact with the affinities we apply isn't easy to explain / predict, so this is why we held off on it.

[2020-07-14 18:16] jimdickinson commented on #163
What do you want to expose JMX to? All pods in k8s will have access by default. In general we want to deemphasize using JMX in favor of using the Management API REST interface.

[2020-07-15 02:05] jimdickinson commented on #154
Sorry for the delay - this got lost in the shuffle around the 4th of July. Yes cass-operator supports this!

Here's an example of how to do it with the top level `podTemplateSpec` field in the `CassandraDatacenter`.

[code]

when the pods are (re)created, they'll have those custom labels and annotations...

[code]

[2020-07-15 04:05] jimdickinson commented on #138
Hi @devdattakulkarni - how do you think it could be better documented?

[2020-07-15 08:22] SkySonR opened #166 "graph, solr, and spark support"
As I can see the operator does not support graph, solr, and spark. Could you please document this also...
https://github.com/datastax/cass-operator/blob/26ad52bfc8f450852f5573fa2904a5df407ce2d3/operator/pkg/serverconfig/configgen.go#L17

It's blocker for as to start to use cass-operator instead of general helm installation which has multiple disadvantages compering to cass operator. But unfortunat

[2020-07-15 08:27] SkySonR commented on #163
@jimdickinson Hi! Thank you for active development and support! I need both, exposing to cluster and outside. I got it, will try kubectl expose. But I am not sure that it will works because of JMX port does not defended in pod configuration and there are no way to do it. From dse pod created by operator:
[code]

[2020-07-15 08:40] SkySonR commented on #163
@jimdickinson  Yes, its true. Without port number specification inside ports stanza no possibility to access this port, it should be fixed...

[2020-07-15 12:25] jimdickinson commented on #166
There's a PR up right now to unblock testing additional workloads. We'll
cut a release by the end of July with that included, or you can make a
build off master after it merges, if you feel comfortable doing that.

On Wed, Jul 15, 2020, 4:22 AM SkySonR <notifications@github.com> wrote:

[2020-07-15 14:59] bradfordcp opened #167 "Validate all ports are defined within the StatefulSet"
Currently many ports are defined on the STS, but not all of them. This includes both Cassandra ports (JMX) and those leveraged by DSE. In most circumstances this is not a problem when running everything within the k8s network. Unfortunately this information is used by K8s when using host network deployments IE external ports are exposed and forwarded to the STS. If the STS is not aware of a port t

[2020-07-15 15:04] bradfordcp commented on #163
Related #167

[2020-07-15 15:07] bradfordcp commented on #166
Related #167 , #158

[2020-07-15 18:07] #130 closed

[2020-07-15 18:07] #166 closed

[2020-07-15 19:36] rltvty commented on #154
this works great! thanks!

[2020-07-15 19:36] #154 closed

[2020-07-16 09:56] devdattakulkarni commented on #138
I was thinking that adding a short description about the purpose of the config builder init container in the field comment in the code would make it more understandable (similar to, for example, the 'Superusersecretname' field.)

[2020-07-16 11:31] devdattakulkarni opened #168 "Question about sub resources created by the Operator"
I am looking to understand what all sub resources are created by the Operator when creating an instance of CassandraDatacenter.

I have briefly looked through the code for this information and think following is the list: Secret, StatefulSet, PersistentVolumeClaim, Service

Is this accurate?

If so, I wanted to double check if the implementation is correctly setting ownerReferences for PersistentV

[2020-07-16 12:27] devdattakulkarni opened #169 "Helm chart improvements"
1. Currently Helm chart resources do not contain namespace attribute defined. I would suggest adding that and setting the default value of it to 'default' in values.yaml. Adding this attribute will make it possible to deploy the Operator easily in non-default namespaces using Helm.

2. Creating StorageClass is currently a separate step that cluster administrator has to do depending on the underlyi

[2020-07-16 14:29] devdattakulkarni commented on #169
Regarding point 1, I see that in the README there are steps to create namespace first and then use it in helm install. So we can ignore point 1.

[2020-07-16 17:50] #142 closed

[2020-07-17 11:51] devdattakulkarni commented on #168
I can confirm that ownerReferences are not being set for PersistentVolumeClaim and Secret objects.
Here are outputs for PVC, Secret and StatefulSet (included for comparison).

PVC: https://gist.github.com/devdattakulkarni/8485f30f0905a40feb31f4e07532109e
Secret: https://gist.github.com/devdattakulkarni/87cb0ffce8e79df47a2a1c37f5f8d120
StatefulSet: https://gist.github.com/devdattakulkarni/55ee804ca

[2020-07-17 12:02] devdattakulkarni commented on #168
I do see that the Secret has following annotation:
"cassandra.datastax.com/watched-by": "[\"default/dc1\"]"

And PVC has following label:
"cassandra.datastax.com/datacenter": "dc1"

Is the intention that these are the only ways to encode the relationships between an instance of CassandraDatacenter and Secret and PVC?

[2020-07-18 15:58] devdattakulkarni opened #171 "Superuser secret not deleted after CassandraDatacenter instance is deleted"
After creating CassandraDatacenter instance, a Secret is created with 'clustername'-"superuser".
After the CDC instance is deleted, the superuser Secret is still present.

[2020-07-18 17:07] devdattakulkarni commented on #168
When CassandraDatacenter resource is created, in the describe o/p following events are seen:

Events:
  Type    Reason               Age                  From           Message
  ----    ------               ----                 ----           -------
  Normal  CreatedResource      3m50s                cass-operator  Created service cluster1-dc1-service
  Normal  CreatedResource      3m50s

[2020-07-18 17:10] devdattakulkarni commented on #168
Also, looking at above events the 'CreatedSuperuser' event is the one that probably corresponds to the Superuser Secret object. Since the Operator is creating it as part of instantiating a CDC instance, I would recommend adding ownerReference to the Secret object. Doing so will correctly lead to its garbage collection when CDC instance is deleted (https://github.com/datastax/cass-operator/issues/1

[2020-07-19 17:03] jimdickinson commented on #171
We should clarify what happens in the docs - this is working as designed. Do you think we should have a flag for cleaning up the secrets on deletion? We felt like it was likely that you would want to reuse the user and password often enough, like for integration tests. It's also easy to clean up by deleting the secret or deleting the namespace.

[2020-07-20 04:26] #52 closed

[2020-07-20 04:26] #155 closed

[2020-07-20 04:26] #161 closed

[2020-07-20 05:11] johntrimble commented on #168
I believe the lack of an owner reference for the PVC is a bug. However, not cleaning up secrets upon deletion of the CassandraDatacenter was a design decision, which is why it does not have an owner reference set. The `"cassandra.datastax.com/watched-by": "["default/dc1"]"` annotation allows us to map changes to a secret back to the appropriate datacenter, since we don't set the owner reference. T

[2020-07-20 08:30] johntrimble commented on #168
Thinking about the PVCs, those are actually created by the statefulset. As to whether the PVC should be deleted automatically, this conversation is relevant: https://github.com/kubernetes/kubernetes/issues/55045

Setting automatic deletion aside, is there a reason the CassandraDatacenter should be an owner of the PVCs?

[2020-07-20 16:54] devdattakulkarni commented on #171
Here is some additional data about this.

I created another CDC instance (cluster2/dc2). The Operator created cluster2-superuser, but it did not have 'watched-by' annotation set.

Devs-MacBook:datastax-dse devdatta$ kubectl get secret cluster2-superuser -o json
{
    "apiVersion": "v1",
    "data": {
        "password": "SHJWcTVMUXhONDZZYTFQeEpvNGJ1VUUwRmUyT2hxdDc5Y2NWdktYODhTSXpWRUFfajdsZTF3",

[2020-07-20 17:12] devdattakulkarni commented on #171
I think flag in the CDC spec definition will make sense.

The Superuser Secret can be deleted if either:
a) no Secret is defined in the CDC spec and so the Operator has created one by default, or
b) it is defined and the delete flag is set to true

As far as integration tests etc. are concerned, pulling the latest Secret from the cluster should be the proper way to go. If while integration tests a

[2020-07-20 17:16] devdattakulkarni commented on #168
Fair point that if PVC is created by the Statefulset then CassandraDatacenter should not be its owner. But in that case wouldn't it make sense to add the SSet as owner of the PVC instance? Right now no ownerReferences are set on the PVC instance. This though does not seem to cause issues with its garbage collection when CDC instance is deleted. The PVC gets deleted correctly.

[2020-07-20 17:21] jimdickinson opened #172 "Make ExternalName service to work with additionalSeeds"
It would make `additionalSeeds` much easier to use if it created an ExternalName service from that data and pushed that down into the cassandra config, instead of the entries directly. This way, changing the IPs would not cause a rolling restart.

https://kubernetes.io/docs/concepts/services-networking/service/#externalname

[2020-07-21 04:53] johntrimble commented on #168
Looking back through our code, it does look like we specifically delete the PVC when the CDC instance is deleted:

https://github.com/datastax/cass-operator/blob/394d25a6d6ec452ecd1667f3dca40b7496379eea/operator/pkg/reconciliation/reconcile_datacenter.go#L37-L40

As to why the PVCs do not have an owner reference to the statefulset, that I think is about the implementation of statefulsets. They mig

[2020-07-23 17:02] rltvty commented on #115
@jimdickinson can you comment more about the downsides of running one operator per cluster, instead of per-namespace?

In my environment, we will have many independent CassandraDatacenters each in their own kubernetes namespace.  Currently, we have 6, 3-node CassandraDatacenters, but could easily scale to 50 or 100 independent CassandraDatacenters in the future, all inside a single kubernetes clus

[2020-07-23 19:33] jimdickinson commented on #115
@rltvty I think the answer is the good old "It depends." :)

The way to answer this is figure out what is an acceptable delay for the operator to come back to reconciling a cluster that you're trying to change - or perhaps needs a change because a C* pod was evicted and the operator needs to bring it back up.

I do want us to support your case very well, though. It's not ideal to have to carry 100

[2020-07-23 20:29] rltvty commented on #115
new issue coming up.  Thanks!

[2020-07-23 20:31] rltvty opened #174 "Is it possible to use a single operator for multiple cassandra-datacenters across different namespaces?"
Can you comment more about the downsides of running one operator per cluster, instead of per-namespace?

In my environment, we will have many independent CassandraDatacenters each in their own kubernetes namespace. Currently, we have 6, 3-node CassandraDatacenters, but could easily scale to 50 or 100 independent CassandraDatacenters in the future, all inside a single kubernetes cluster.

It would

[2020-07-24 18:41] eldondevat commented on #174
Hey rltvty, this is definitely a use case we want to support. We're still building out the testing infrastructure to support this strategy at scale. In this scenario, are the CassandraDatacenters each living alone in a namespace, or do their applications deploy in that namespace as well? If the former, how do you plan on exposing those as services?

[2020-07-24 19:13] rltvty commented on #174
@eldondevat The applications using the CassandraDataCenters live in the same namespace.

Ideally, nothing outside the namespace would communicate with the CassandraDataCenter, other than the shared cassandra-operator.

[2020-07-26 11:24] johntrimble commented on #168
I think everything here has been answered. Please reopen if needed.

[2020-07-26 11:24] #168 closed

[2020-07-28 16:27] johntrimble opened #176 "Operator pod fails to become ready in microk8s and produces AppArmor errors on exec"
After installing the operator in microk8s, the operator pod will fail to become ready. Attempting to use `kubectl exec` on the pod will result in an AppArmor error. This is due to a bug in microk8s: https://github.com/ubuntu/microk8s/issues/784

How to reproduce:

[code]

Notice that the operator pod will never become ready. Attempting to `kubectl exec` on to the pod will also fail:

[code]

Worka

[2020-07-29 02:34] rltvty opened #178 "StatefulSets are orphaned on deletion of cassandradatacenter"
I'm seeing an issue when I delete my Cassandradatacenter config, it destroys the first statefulset but not the remaining ones.

I'm running size 3 rack-aware cluster in AWS EKS, defined as follows:

[code]

Logs from the operator pod report the following:

[code]

[2020-07-29 02:35] rltvty commented on #178
these are the statefulsets that remain after the deletion:

[code]

[2020-07-29 02:35] rltvty commented on #178
perhaps this is fixed by #121 ? Is there a build published with this fix that I can try?

[2020-07-29 02:37] jimdickinson commented on #178
Yes - which operator version are you using?

[2020-07-29 02:52] jimdickinson commented on #178
Thank you for the really detailed report with your full cassdc configuration - could you add on any information for how it came to be this way? Did you just create? Create and update N times? The bug that #121 fixed would've always effected all statefulsets is why I ask.

[2020-07-29 05:09] jimdickinson commented on #115
Discussion continuing in #174

[2020-07-29 05:09] #115 closed

[2020-07-29 05:25] jimdickinson commented on #174
I think the downsides are more in theory than in practice, but just not enough testing has been done for this use case to answer definitively. We can get some small tickets on the roadmap though that should improve your experience. Here are some I can think of...

* Helm install option for cluster-wide / single-namespace
* Better logging to count the reconciles done per CassDC, not just assigning

[2020-07-29 05:26] #53 closed

[2020-07-29 14:45] rltvty commented on #178
Ah, I thought I was already using 1.3, but I'm still on 1.2.  I'll try upgrading today.

This happens when I create a cluster, and let it come up to steady-state, and then delete it.  Just a single create and then delete about 30 mins later, no updates in-between.

I'll let you know if 1.3 helps.  Thanks!

[2020-07-29 15:44] rltvty commented on #178
This is fixed in 1.3!  Sorry for using an old version.

[2020-07-29 15:50] jimdickinson commented on #178
Awesome! I did add a test to make sure this didn't regress, so good news all around!

[2020-07-29 15:50] #178 closed

[2020-07-29 15:57] rltvty opened #179 "Deploys of the `cass-operator` are not idempotent"
Currently, if the `cass-operator` is deployed several times into the same namespace, the following resources get updated with each deploy:
* `Deployment/cass-operator`
* `Secret/cass-operator-webhook-config`

For the deployment, this isn't a big deal.  But for the secret, the values of `tls.key` and `tls.crt` get reset to empty string, and then never get updated again.

I've figured out how to fix

[2020-07-29 17:42] eldondevat commented on #179
@rltvty what method are you using to deploy? Is this the helm chart or a kubectl apply? Also, I see how it is not idempotent, but when you mentioned they "never get populated again," does that mean the operator fails to come up? I think the "right answer" is to update the helm chart to set these secrets. We can get that fix scheduled in the near future if this is blocking you.

[2020-07-29 20:17] rltvty commented on #179
@eldondevat I'm not using helm.  I'm using `kubectl` to apply, and using `kustomize` to make some changes to the deployment for my use case.  Specifically, I'm deploying the operator to multiple namespaces, so I'm prefixing some of the global resources by the namespace name, so there aren't conflicts between namespaces.

This is not blocking me, I've already made these updates in my configs, but t

[2020-07-29 21:03] eldondevat commented on #179
@rltvty thanks for that context, I'll dig in to reproduce.

[2020-07-29 23:31] rltvty commented on #174
On the other questions:

Yes, one CassDC per k8s namespace.  And ideally yes we would have k8s workers (nodes) with multiple Cassandra pods on them (from different namespaces).

[2020-07-30 22:25] jimdickinson commented on #111
Thanks @kensipe for following the link back to us! I think we worked around this well enough for now that I'm closing the issue. Hopefully the code generator improves for targeting more than one version of k8s with Operator SDK going to the CNCF.

[2020-07-30 22:25] #111 closed

[2020-08-02 06:51] rcosnita opened #183 "Init / system-logger containers are not defining the resources to use."
I have just encountered an issue while trying to create a new cassandra datacenter in one of my company K8S cluster. The stateful set pods are not schedules because we enforce quotas for all our namespaces.

For the time being, cass-operator allows us to define quotas only for the main cassandra container. These leads to the following error (extracted from the K8S events):

[code]

One quick fix f

[2020-08-02 06:52] rcosnita commented on #183
I will try to open a quick PR fixing using the first approach, until we decide how we want to configure the remaining resources.

[2020-08-02 07:01] rcosnita commented on #183
Another alternative might be to define a resource section for each of the containers used implicity:

[code]

[2020-08-03 17:15] johntrimble commented on #183
Thank you for filing this issue! Looks like we will also need a way to define the resource requirements for reaper as well:

https://github.com/datastax/cass-operator/blob/db8d16a651bc51c0256714ebdda2d51485c5d9fa/operator/pkg/reconciliation/reconcile_reaper.go#L33-L61

[2020-08-03 17:20] johntrimble commented on #183
I wonder if leveraging the `PodTemplateSpec` on the `CassandraDatacenter` resource might be a way to resolve this. Right now, we ignore container definitions there entirely for containers we create by default, but we could potentially change that logic to use any provided definitions as a base.

[2020-08-03 17:31] johntrimble opened #185 "Add ability to use host network"
Sometimes it is useful to simply use the host network for Cassandra. For example, one might do this to gain easy access to the Cassandra deployment from outside the k8s cluster.

[2020-08-04 22:29] rcosnita commented on #183
It might be tricky to rely on pod template spec because right now it is used for adding new containers within the pod. If we want to change it's semantic it is doable.

On the other hand, I think it is fair to assume in the near future we are not going to have a large number of init / containers running within a cassandra pod so maybe it is just better to configure them explicitly.

@johntrimble W

[2020-08-04 22:58] bradfordcp commented on #183
The config init container and system logger should have well defined
resource consumption. I expect we can set this to same defaults and call it
good. @johntrimble do you think they should be configurable vs static?
Personally, I’m in the latter camp.

Since we don’t mess with podtemplatespec containers at all that’s on the
user to make sure the resources are set where appropriate.

On Tue, Aug 4,

[2020-08-06 17:36] johntrimble commented on #183
I think having reasonable defaults makes sense since other people are likely to end up in this same situation. I'm concerned about there not being a way to customize this though. Perhaps that's not well founded, I just worry about someone having the problem of the resource limits being set too low and having no way to fix it. My reason for wanting to leverage the podSpecTemplate in some way is tha

[2020-08-08 12:36] rcosnita commented on #183
I was actually thinking to keep the resources configuration on the same level as resources:

[code]

I don't have anything against hyphens because we don't need to reference the keys in helm templates.

[2020-08-08 14:04] rcosnita commented on #183
I implemented reasonable defaults + the possibility to override the values if needed. Here are the two possible ways to configure this:

[code]

If we want to override the values we can use the following configuration:

[code]

You can find the reasonable defaults in **operator/pkg/reconciliation/defaults.go**

[2020-08-08 15:49] dmsolow opened #187 "Startup checks, vm.max_map_count"
On startup I see the following warnings:
[code]

Are there plans to resolve these issues by default using the operator? If not, do you have any guidance on resolving them?

For reference, the Elasticsearch helm chart that I'm running has the following initContainer:
[code]

How can I add such an initContainer to my cassdc?

[2020-08-08 16:41] jimdickinson commented on #187
I'm not sure if the first warning is an issue - it's not possible to enable swap with Kubernetes, see https://github.com/kubernetes/kubernetes/issues/53533

If you want to try to address the max_map_count, that approach should work with Cass Operator. We've got an integration test like this here -> https://github.com/datastax/cass-operator/blob/86b32ee3fc21e8cd33707890ff580a15db5d691b/tests/testda

[2020-08-08 16:49] jimdickinson commented on #174
@rltvty We've merged https://github.com/datastax/cass-operator/pull/182 - would you be up for trying to install / template with that chart? This should satisfy `Helm install option for cluster-wide` and we've got some tests for it too, although we've not yet tried at the scale you're considering.

[2020-08-10 11:24] shivpathak commented on #187
@jimdickinson I also looking solution for the same mentioned issue (raising vm.max_map_count) params.

I tried following manifest:

[code]

**But when I apply I get following error:**

The CassandraDatacenter "glowroot" is invalid: []: Invalid value: map[string]interface {}{"apiVersion":"cassandra.datastax.com/v1beta1", "kind":"CassandraDatacenter", "metadata":map[string]interface {}{"annotations"

[2020-08-10 12:15] dmsolow commented on #187
@shivpathak it worked for me when I added `containers: []`. Here's my full `podTemplateSpec`:
[code]

[2020-08-10 13:59] jimdickinson commented on #187
Thanks @dmsolow - I keep forgetting that `containers` is required. This isn't our choice - we're using the standard Kubernetes struct and the OpenAPI validation that comes with it.

[2020-08-10 16:44] rltvty commented on #174
@jimdickinson I'm assuming I should run this by itself inside the cluster, and not along-side existing in-namespace installations of the operator?

[2020-08-11 02:49] jimdickinson commented on #172
#175 and #189 fixed this, but not with an ExternalName - we ended up using a headless service with no selector and creating the endpoints resource in the operator. So now `additionalSeeds` must be IP addresses.

[2020-08-11 02:49] #172 closed

[2020-08-12 06:51] oana-cit opened #194 "Cassandra pod fails after kubernetes node restart"
After a node restart, the pod has status running, but with Ready 1/2:
[code]
From the pod logs:
`INFO  [nioEventLoopGroup-2-1] 2020-08-12 06:43:10,314 Cli.java:584 - address=/10.32.0.1:55046 url=/api/v0/probes/readiness status=500 Internal Server Error`
The seed-service has no attached endpoint:
[code]

After deleting the pod and the seed service, everything starts ok.

I have kubernetes version 1

[2020-08-12 12:54] jimdickinson commented on #194
Trying to clarify a couple things: The pod was once Ready, but then you restarted the worker node? Your paste shows the server version is `v1.17.4`?

[2020-08-12 13:44] oana-cit commented on #194
Yes, after the initial deployment the pod was Ready. The issue appears after restart.
Kubernetes version is 1.17.4.

[2020-08-14 09:09] sandeepnethi opened #199 "podTemplate option to include additional containers in the pod"
Hi,

I couldn't find any instructions on how to add additional containers with "CassandraDatacenter" kind. Is there a way to integrate additional containers along with cassandra container in each pod?

The idea behind this question is to add sidecar container to configure reaper and also to schedule backups.

Let me know any clarifications is needed.

Thanks in advance.

[2020-08-14 21:20] rltvty commented on #174
@jimdickinson I deployed the `cass-operator` using the `cluster-wide` option today into our `dev` cluster.  It is up and running, managing 6 cassandra-datacenters, each in their own namespace.

One note is: I had to make my own build of the docker image from `master`, to get the deployment to not-crash.  Version `1.3.0` of the image in the chart would not work, and there is no newer version on doc

[2020-08-14 21:28] jimdickinson commented on #174
This is great news! And yes, this is unreleased work on master only right now. 1.4.0 is going out as soon as a couple more small fixes go in, and it will have everything in master right now.

I think it would be interesting to see how everything works for you if you could do something like scale up all the DCs at roughly the same time. The log prints the duration for each iteration of the reconcil

[2020-08-14 23:38] rltvty commented on #174
@jimdickinson some responses:

* I'm hesitant to try a scale-up of each cluster until the operator also supports scale-down.  Even though I'm working in the `dev` cluster currently, I can't break much of it often like I did today to install the cluster-wide operator.
* We currently have 3 nodes in each DC, spread across 3 availability zones in AWS
  * We have 8 kubernetes worker machines in total,

[2020-08-16 13:30] shivpathak commented on #187
Thanks.

[2020-08-17 02:45] jimdickinson commented on #174
@rltvty That's totally reasonable. I'll set up an environment like yours and run a couple experiments. What's your target scale for dev/test/prod?

[2020-08-17 02:50] jimdickinson commented on #199
Hey @sandeepnethi - We've exposed the ability for you to provide `podTemplateSpec` inside the `spec` field of the `CassandraDatacenter`. We've got Reaper integration underway, so you should probably use that instead of rolling your own. I'm realizing that our docs don't make this subject very clear, so we'll get that fixed. Let me know if you need more specific advice!

[2020-08-17 05:48] #183 closed

[2020-08-19 05:35] jeromatron commented on #167
So will this open all the specified ports for every workload or will it be dependent upon the workload that is enabled or is it simply configurable?

[2020-08-19 05:55] jtyl2017 commented on #167
e.g. if graph advanced workload is being deployed, only graph related ports (+ standard cassandra ports) will be added to statefulset

[2020-08-20 12:54] dmsolow opened #205 "Token allocation is unbalanced in some cases"
I previously set up a 3 node, 8 vnode, RF=2, one-rack cluster, and after loading data I noticed that tokens were not allocated evenly. I did my best to follow this process: https://thelastpickle.com/blog/2019/02/21/set-up-a-cluster-with-even-token-distribution.html

First attempt (unbalanced cluster):

1. create single node cluster
2. create keyspace `dummy` with RF=2
3. edit datacenter to add `al

[2020-08-20 16:39] oana-cit commented on #194
I've tried to add a new seed service, with the annotation I've mentioned in the first comment, and add that as "additionalSeeds" in the config.
But that didn't help, so that doesn't appear to be the root cause.
I've managed to reproduce it by doing a Power Off (not shutdown).
The pod isn't deleted after being in that state for more than 10 minutes.
Are there any logs I could check?, the ones from

[2020-08-21 20:02] Jefle2005 opened #208 "capability to scale down"
May i know if you have plan to add capability to do scale down? or if it's already in your roadmap?

[2020-08-24 15:39] jsanda commented on #205
Hi @dmsolow

I think your steps are off. Setting up even token distribution for Cassandra 3.11.x with the operator will be difficult at best without changes to support it.

Even though Cassandra 4.0 is going to be out soon, people will be on 3.11.x for a long time, so I think it makes sense for the operator to support this.

[2020-08-24 16:02] jsanda opened #211 "Reaper does not work when Cassandra authentication is used"
Consider the following example `CassandraDatacenter` manifest:

[code]

Cass Operator will create a C* cluster with authentication enabled. Reaper talks to Cassandra using both JMX and CQL. The CQL calls will fail because no credentials are passed to Reaper.

It might be good for `.spec.reaper` to allow you to specify a C* user/role for Reaper to use. I think it is sufficient for now though for th

[2020-08-25 14:53] jsanda commented on #211
This may require some more effort and changes that I initially anticipated. For its readiness probe, Reaper attempts to connect to its storage backend, which is Cassandra. In order for the readiness check to succeed, the `reaper_db` schema needs to exist. Cass Operator deploys a k8s job to create the keyspace. The Casandra pods which includes both Cassandra and Reaper are deployed before the job.

[2020-08-25 15:06] bradfordcp commented on #208
No timeline at the moment, but looking at some of the commits coming in and dev chatter it is currently being developed.

[2020-08-25 15:11] bradfordcp opened #218 "Update Helm installation references to use DataStax Helm Chart repo"
https://datastax.github.io/charts/  and it's documentation:

[code]

Should be our go-to in the docs regarding Helm installation

[2020-08-25 15:19] yukim opened #219 "DSEWorkloads does not work in v1.4.0"
#158 added `dseWorkloads` to CRD, but enabling through this feature does not start DSE properly.

This is because it adds `JVM_EXTRA_OPTS` environmental variables with `-g` and/or `-s` and/or `-k`, and by doing so, JVM crashes when Management API tries to spawn DSE.

DSE Management API swallows stdout when spawning DSE, but with docker you can see it does not start with invalid `JVM_EXTRA_OPTS`:

[2020-08-25 17:00] bradfordcp commented on #219
This feature is a tech-preview. A revert is not in order given it is entirely opt-in, but we should investigate what is causing it to fail start-up.

Running `dse cassandra -f -s` starts just fine within the container. We are validating the behavior of the mgmt api to isolate the problem.

[2020-08-27 03:06] #218 closed

[2020-08-27 16:38] jimdickinson opened #225 "Better experience / tutorial for using the helm chart with master"
We're publishing images for each hash out to GH Docker Registry, but it's clumsy to use them with our Helm chart. We can make this easier by accepting an imagePullSecret.

[2020-08-27 16:50] nbenaglia opened #226 "Error: apiVersion 'v2' is not valid. The value must be "v1""
Hi,
I am trying to install cass-operator 1.4.0 with helmfile and I get the error:

`Error: apiVersion 'v2' is not valid. The value must be "v1"`

v2 seems to be reserved to Helm 3, while I am using helm 2.
Your repo index at https://datastax.github.io/charts/index.yaml
shows only v2 apiversion.

[2020-08-31 21:24] jimdickinson commented on #226
@nbenaglia would you like to contribute a chart that works with Helm v2? Also note that Helm 2.x is going to be end-of-life soon... https://github.com/helm/helm/issues/8343

[2020-08-31 22:47] datazef opened #227 "Fail to enable node to node encryption with cass-operator 1.4"
I followed the steps recommended on this [page](https://github.com/datastax/cass-operator/blob/master/tests/testdata/encrypted-single-rack-2-node-dc.yaml#L27), cass-operator never succeded to configure cluster accordingly, and kept trying to deploy configuration change to node 0:
[code]

I verified that each node has access to the certificates on the local disk and that password is correct by list

[2020-09-01 01:43] eldondevat opened #229 "Support Mixed-Mode cluster for TLS certificates"
We probably need to support adding, removing, and rotation for TLS certificates within a cluster around internode and client-to-node encryption. These things will expire, and we need to make update seemless. See #227

[2020-09-01 05:10] jeromatron commented on #219
I've seen others trying to use this who have had similar problems - unable to use the official dse workload mechanism but can still use the workaround of adding jvm args for now.

[2020-09-01 21:28] aryklein commented on #108
Do you have any plans to support extra configuration or override by specifying some keys on the `PodTemplateSpec`? I'm looking for a way to add additional environment variables to the `cassandra` container.

[2020-09-02 03:30] nbenaglia commented on #226
@jimdickinson: I am not an helm expert, but I think it suffices to edit [Chart.yaml](https://github.com/datastax/cass-operator/blob/master/charts/cass-operator-chart/Chart.yaml) setting apiVersion to v1.
Then repackage the chart and update the repo index.
No need to commit Chart.yaml with v1.
It's the datastax's repo index.yaml that need to contain also the v1 version of cass-operator chart.

[2020-09-02 17:41] rchernobelskiy opened #231 "Increase CPU for config init"
Otherwise it takes 20s
proposed new config that takes 5s:
[code]

[2020-09-02 18:49] aryklein opened #232 "additionalSeeds doesn't support domains"
I'm trying to use a list of domains in `additionalSeeds`, like this:

[code]

But get this error:

[code]
Is there any way to support domains instead of IPs?
Pods IPs are ephemeral.

[2020-09-02 19:29] jimdickinson commented on #232
I think we could support hostnames if we could have the operator expand them into IPs on reconcile - would that work for your case? We recently got in a layer of indirection so we pass a single additional seeds hostname down to Cassandra backed by a Service and Endpoints resource that we manage from the operator. That allows for the least thrashing as seed IPs / hostnames change - because there's

[2020-09-03 12:19] nbenaglia opened #234 "Pod affinity customization"
I am trying to add a section `podTemplateSpec.[..].affinity` to CassandraDatacenter manifest, but the operator complains about missing containers definition (it's marked required in CRD):

`CassandraDatacenter.cassandra.datastax.com "dc1" is invalid: spec.podTemplateSpec.spec.containers: Invalid value: "null": spec.podTemplateSpec.spec.containers in body must be of type array: "null"`

What I'd li

[2020-09-09 07:10] nbenaglia opened #239 "Add tolerations"
`nodeSelector` works, but if pod hasn't tolerations, it cannot be scheduled on a tainted node.

See [Taints and Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/) for concepts.

CassandraDatacenter should accept a toleration definition.

[2020-09-09 13:08] jimdickinson commented on #239
Does using `podTemplateSpec` not work for tolerations? I think it was actually the original request that got us working on generically accepting podSpec features that we did not make explicit parts of our CRD.

[2020-09-09 13:34] jimdickinson opened #241 "Allow configuring the way we tail the system logs"
- Should be disable-able
- Change the default image to alpine
- Should be able to set the image coordinate

[2020-09-09 15:29] nbenaglia commented on #239
It does not work:

`CassandraDatacenter.cassandra.datastax.com "dc1" is invalid: spec.podTemplateSpec.spec.containers: Required value`

This is caused here: https://github.com/datastax/cass-operator/blob/711187864f32cfed1feaa8c981c268299e6f3137/operator/pkg/apis/cassandra/v1beta1/cassandradatacenter_types.go#L249

where `*corev1.PodTemplateSpec` has Containers []Container with comment:
`There must

[2020-09-09 15:34] jimdickinson commented on #239
Yes - can you set containers to an empty array like this?

[code]

[2020-09-09 17:30] johntrimble commented on #108
For the general case of being able to customize containers such as the cassandra container, I think we could do something similar to what the elastic operator does, in that if we find a container in the user provided podtemplate with the same name as one the operator wants to create, we use the user provided version as a base and apply changes on top of it. I've suggested this before on another ti

[2020-09-09 18:18] nbenaglia commented on #239
Ok, the empty array worked. Thanks.

In this snippet all works, but affinity is not added to the rack one (created by the operator):

[code]

[2020-09-09 18:36] jimdickinson commented on #239
Ok great - making some progress. Sorry I omitted mentioning affinity because I knew this would happen.

How would you like it to work? We felt like affinities are pretty confusing, so we didn't want to encourage folks adding their own and how that might interact with the ones we use on the pods. If you just want a nodeSelector on the pod, we do have support for that in the CRD already.

In a recen

[2020-09-09 22:21] jeromatron commented on #167
So what is currently not in the operator even in 1.4 is the DSE workload specific ports like for Search. It would be nice if those ports could be opened depending on what workload is enabled.

[2020-09-10 07:33] nbenaglia commented on #239
The affinity existing in CRD is supposed (by a user) to be working. If not, it should be documented, for clarity toward operator users.
The idea to expand rack definition with labelSelector is very good and helpful. I need to be sure that cassandra goes on a dedicated node.
I link this issue to #234 (Pod affinity customization).

I close this issue (it is solved for my part). Thank you.

[2020-09-10 07:33] #239 closed

[2020-09-10 16:20] #234 closed

[2020-09-11 16:59] jimdickinson commented on #131
@bradfordcp do you think what we've got for `additionalSeeds` satisfies this?

[2020-09-11 20:15] jimdickinson commented on #219
This is fixed in 1.4.1 by #230 and we've got an integration test in place. Please reopen this issue if you can reproduce on a build with that fix.

[2020-09-11 20:15] #219 closed

[2020-09-11 21:32] jimdickinson opened #250 "Merge "cassandra" container provided in podTemplateSpec with the one built in the operator"
Can do the configbuilder as well.

[2020-09-11 21:53] jimdickinson opened #251 "Make log reading much less confusing"
The standard nginx docker file does this...

[code]

We should think about doing something like this to get DSE logs emitting on the `cassandra` container. Management API would have to log to a file, which we could tail in a sidecar, or something.

[2020-09-14 16:23] slayerjain commented on #194
We're also facing a similar issue. Our K8s server is `1.16.13`
[code]

We have a 3 racks with 1 node in each rack. I get the following error in one of them
[code]

And this error in 2 of them
[code]

[2020-09-14 17:04] slayerjain commented on #194
We just tried to create another (and fresh) Cassandra cluster in the same namespace. All of them are failing!

Logs are like below:

[code]

[2020-09-14 17:51] jimdickinson commented on #194
@slayerjain can you please post the logs from the other container in the pod - `server-system-logger` - and what are the labels on your Cassandra pods? I'm pretty sure that rebooting the underlying k8s worker is leaving things in a bad state. Maybe just some state cass-operator is maintaining, but likely also some generic Kubernetes state.

Also what version are you running?
[code]

was fixed here

[2020-09-14 18:00] slayerjain commented on #194
We were using v1.2.0 of the operator, and just upgraded to v1.4.1 but it didn't fix anything.

The labels are
[code]

[code]

[code]

`server-system-loggger` logs are below for a pod in the old Cassandra cluster.
[code]

[2020-09-14 18:01] slayerjain commented on #194
curiously, we created a fresh cassandra in another namespace, and it spin up just fine. If we spin up in the namespace containing the faulty cluster, it fails.

[2020-09-14 18:09] jimdickinson commented on #194
Ok this is all the detail we'll need. Just upgrading the operator wouldn't be enough to fix the older set of pods. If you `kubectl delete pod cluster1-dc1-rack3-sts-0`, then it will be replaced with a fresh pod in the `Ready-to-Start` state, and that cluster will be able to come up.

[2020-09-14 18:17] abhi93104 commented on #194
So we did delete all the pods after upgrading the operator but still, it's failing.

[2020-09-14 18:24] jimdickinson commented on #194
🤦  I forgot that without the cluster in a fully running state, the operator won't update the statefulset definitions. Using the `forceUpgradeRacks` configuration option will force that to roll out. Sorry! This snippet shows an example of what you need.

[code]

[2020-09-15 15:07] abhi93104 commented on #194
Hi Jim,
forceUpgradeRacks did the job. Cluster become stable, but when I ran nodetool status, it showing this

`root@cluster1-dc1-rack1-sts-0:/# nodetool status
Datacenter: DC1
===============
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address          Load       Tokens       Owns (effective)  Host ID                               Rack
DN  192.168.170.220  ?          8            51

[2020-09-15 15:22] abhi93104 commented on #194
Serevre system logger
[code]

[2020-09-15 20:19] johntrimble commented on #194
Oh this is interesting. I'd be curious to see what the `CassandraDatacenter` yaml was originally and what it is now. It looks like, at some point, the datacenter's name was changed from "dc1" to "DC1" and rack "r1" was changed to "rack1". That or maybe you have two `CassandraDatacenter`s? One named dc1 and one named DC1? You could run `kubectl get CassandraDatacenter --all-namespaces` to determine

[2020-09-15 20:46] abhi93104 commented on #194
Running kubectl get CassandraDatacenter --all-namespaces gives:
[code]

[2020-09-16 08:29] slayerjain commented on #194
@johntrimble @jimdickinson Any idea why "DC1" wasn't automatically deleted? since all racks are down.

[2020-09-16 15:42] mizunos opened #254 "Support for NodeSelector and Node Taints in cassandra cluster ?"
My use of Cassandra is not within a K8s cluster of of its own.  It is in its own NodePool within a GKE cluster.  Able to add toleration to the cass-operator deployment (in the manifest.yaml) but is not able to control the deployment of Cassandra dc to a set of nodes in a Nodepool dedicated to Cassandra.  Try adding toleration definition to cassandra dc yaml file but did not work.
Operator works by

[2020-09-16 16:39] grighetto opened #255 "Support single-node upgrade"
As part of a C* QA effort, we'd like to upgrade a single node in a C* cluster in order to test mixed-version scenarios.
We're using the cass-operator to spin up the test clusters, but to my knowledge the operator only supports single rack upgrades, that is, the entire rack.

[2020-09-16 21:59] jsanda commented on #255
I believe this is correct. cass-operator creates a StatefulSet per rack and uses the default update strategy which is `RollingUpdate`.  Let's say you change the `.spec.serverVersion` of your CassandraDatacenter. This will roll out the new image across all StatefulSets/racks in the cluster. You can limit the update to a single rack with `.spec.canaryUpgrade: true`.

The rolling update strategy of t

[2020-09-17 04:06] jsanda commented on #255
After thinking about it some more, I think the `.spec.canaryUpgrade` property should be removed. By adding the `Partition` property as I have in PR #256 there is no need for `.spec.canaryUpgrade`. Removing it also simplifies the code a bit which is an added bonus.

[2020-09-17 04:47] jimdickinson commented on #255
I disagree with removing `canaryUpgrade` for a few reasons. I think what you've added should be used in concert with it. Will leave more comments in the PR.

[2020-09-17 20:34] jsanda commented on #255
Hi @grighetto

I talked some @jimdickinson and he explained to me the idea of adding a `CanaryUpgradeCount` property. Since it would not be defined at the rack level, you would not be able to control in which rack the upgrade happens as I described above. You would however be able to upgrade a single node though.

Is this sufficient for your use case?

[2020-09-18 10:25] nbenaglia commented on #254
Hi,
this may help you: https://github.com/datastax/cass-operator/issues/239#issuecomment-689733929

[2020-09-21 22:18] grighetto commented on #255
@jsanda yes, that totally works for me as long as the order of execution is consistent, that is, the upgrade doesn't happen at random racks at different times, such that the tests remain reproducible.

Thanks for the quick turnaround on this.

[2020-09-22 17:22] jimdickinson opened #260 "Better default for RF and num_tokens"
We should do a better job of getting a good defaults for RF and number of tokens for each of Cassandra 3.11, 4.0, and DSE. All of them should default to using
[code]
which is backwards compatible. Should probably use 3 if the initial number of nodes is >= 3, and 1 otherwise.

We should establish better defaults for `num_tokens`, and `allocate_tokens_for_local_replication_factor`. `allocate_tokens_

[2020-09-22 17:34] jsanda commented on #260
Changing tokens on an existing cluster is typically done by a Datacenter
migration, so definitely non-trivial operation.

On Tue, Sep 22, 2020 at 1:22 PM Jim Dickinson <notifications@github.com>
wrote:

--

- John

[2020-09-29 14:51] #231 closed

[2020-09-30 08:38] BostjanBozic commented on #111
Is there a plan to push this to certified-operators? Since if you are deploying this on OpenShift, it is still using v1.2.0 and is blocking deployment of operator.

[2020-09-30 14:57] mrhillsman opened #266 "Unable to install operator OpenShift 4.5"
We are currently unable to install the operator in OpenShift 4.5 environment; here are some notes from what we have found and a link to updated clusterserviceversion to resolve.

https://bugzilla.redhat.com/show_bug.cgi?id=1882577 ( I believe you can see this )
https://github.com/kubernetes/kubernetes/issues/91395#issuecomment-633261523:

"properties defined as list map keys must either be require

[2020-10-01 23:43] bradfordcp commented on #266
I believe this issue has been fixed in 1.3.0. I see the issue shows 1.2.0. Can you validate the newer version?

I'm working to get the version 1.4.1 pushed out to OpenShift soon.

[2020-10-02 13:15] RobbieJVMW opened #268 "K8S 1.18 cass-operator unable to pull image."
**What Happened**

Following the installation guides deployment of the cass-operator using cass-operator-manifests-v1.18.yaml fails to pull a valid image from the repository.   Causing the operator to fail to start.

[pullerror.log](https://github.com/datastax/cass-operator/files/5318155/pullerror.log)

(K8S version 1.18.6 )

[2020-10-02 13:33] jimdickinson commented on #268
We've observed this before, and we've been trying to isolate what creates the problem. This is the issue...
[code]
Was this running with docker? or containerd?

[2020-10-02 15:19] RobbieJVMW commented on #268
containerd

[2020-10-06 04:10] jimdickinson commented on #268
@RobbieJVMW can you try again? I fixed some images that containerd checks wouldn't allow. It seems like we were effected by the same bug reported here - https://github.com/containers/skopeo/issues/1054

[2020-10-06 10:44] RobbieJVMW commented on #268
Looks like the operator has successfully deployed.  I'll run some full tests to confirm.

[2020-10-07 06:16] jeromatron opened #273 "Metric sources are being duplicated"
Metric sources are being duplicated after port 9103 was added in version 1.4.1.

![image-1](https://user-images.githubusercontent.com/254887/95294372-e134a980-08c0-11eb-97a2-896cf47adea5.png)

[2020-10-07 18:11] mrhillsman commented on #266
Hey @bradfordcp

We currently only have the 1.2.0 version listed in the hub. Version 1.3.0 would need to be published.

[2020-10-08 14:20] jimdickinson opened #274 "Use kubebuilder:pruning:PreserveUnknownFields"
We worked around the `config` needing arbitrary yaml before Kubebuilder codegen supported it, but they got it merged almost a year ago. Let's switch to the standard way.

see https://github.com/kubernetes-sigs/controller-tools/pull/345

[2020-10-08 20:30] itzg opened #276 "Feature request: label to differentiate all-pods-service from "ready" service"
In version 1.4.1 of the operator, it creates the following two services `{cluster}-{dc}-all-pods-service` and `{cluster}-{dc}-service` that have identical labels, as shown here:

[code]

I have adjusted a copy of the [generated service_monitor.yaml](https://github.com/datastax/metric-collector-for-apache-cassandra/blob/v0.1.11/dashboards/k8s-build/generated/prometheus/service_monitor.yaml) for mon

[2020-10-08 20:35] underrun commented on #211
There are similar-but-different issues (creds needed, etc) when TLS and/or mTLS are enabled on the cassandra cluster. user/role won't solve that problem - but cass operator creates user, pw and certs - can't cass operator just let reaper mount those secrets and use them and solve both user/role auth and (m)TLS at the same time?

[2020-10-08 20:49] jimdickinson commented on #276
great suggestion @itzg ! do you feel comfortable trying to make a PR? I think if you append a label on this line it will do what you want...

https://github.com/datastax/cass-operator/blob/73b010dfce267e289166ee8119431c96f7741774/operator/pkg/reconciliation/construct_service.go#L158

possibly `cassandra.datastax.com/prom-metrics: "true"`?

[2020-10-08 21:20] itzg commented on #276
Thanks for the quick feedback! Sure, let me take a stab at a PR.

[2020-10-08 21:47] jsanda commented on #211
I do not think that this would solve the auth problem. The start up order of the cassandra and reaper containers is non-deterministic. Reaper cannot get to a ready state until:

* The Reaper role is created in Casssandra and
* The Reaper schema is initialized in Cassandra

Reaper's health checks depend on both of the above being completed. As things are implemented, this results in lot of liveness

[2020-10-09 03:53] underrun commented on #211
But waiting for state to settle is kubernetes super power.

Maybe kick off the reaper initialization job before creating the stateful sets but with configuration about where to look for secrets when they show up. There cassandra containers will start and eventually the job that sets up the `reaper_db` will get creds and have an actual cassandra to connect to. Then the reaper containers will succes

[2020-10-09 15:31] rsds143 opened #278 "upper case characters in cluster name shouldn't break deployments"
Warning  ReconcileFailed  4s (x14 over 52s)  cass-operator  Service "myIntCluster-mytestdc-748566754a-service" is invalid: metadata.name: Invalid value: "myIntCluster-mytestdc-748566754a-service": a DNS-1035 label must consist of lower case alphanumeric characters or '-', start with an alphabetic character, and end with an alphanumeric character (e.g. 'my-name',  or 'abc-123', regex used for valid

[2020-10-09 18:33] shallada opened #280 "Add examples of storage class provisioners"
The example storage class manifest uses the Google provisioner. There is a line in the readme that discusses customizing the manifest to your configuration. It might be useful to identify rancher and any other common provisioners to help the uninitiated understand how they might need to customize.

[2020-10-12 11:09] navaganeshr opened #281 "Creating a volume mount for the cassandra container"
i am using cass-operator. I have  a init container which will create the keystore and truststore. I want to mount the same keystore and truststore on cassandra container. But in the custom resource definition where to add a entry to cassandra container to mount a volume. this is not clearly explained in it.

below is my cassandraDatacentre resource

apiVersion: cassandra.datastax.com/v1beta1
kind:

[2020-10-12 20:47] jimdickinson commented on #278
We can make this a better experience with `kubebuilder:validation:Pattern` on the string.

[2020-10-13 01:19] jeromatron opened #282 "More explicitly document how to change from SimpleStrategy to NetworkTopologyStrategy for things like the system_distributed keyspace"
We have an example of using the java additional opts to configure the replication factor and DCs to put a specific system keyspace in.  See https://github.com/datastax/cass-operator/blob/master/operator/example-cassdc-yaml/cassandra-3.11.x/example-cassdc-three-rack-three-node.yaml#L39-L41.  Perhaps this could be explained in more detail after this example is given: https://github.com/datastax/cass

[2020-10-13 19:19] #66 closed

[2020-10-15 21:22] jsanda commented on #255
@jimdickinson can we close this since #256 has been merged?

[2020-10-16 00:52] jimdickinson commented on #255
Yes - I see we linked it but didn't use `fixes ...` so GH didn't handle it. Thanks for pointing it out!

[2020-10-16 00:52] #255 closed

[2020-10-16 03:22] jimdickinson commented on #281
@navaganeshr adding new volumes mounts to the cassandra container was just merged to master in PR #263 - it will be in version 1.5.0 coming in the next weeks

[2020-10-16 03:23] jimdickinson commented on #268
@RobbieJVMW let me know if we should reopen this.

[2020-10-16 03:23] #268 closed

[2020-10-19 12:17] slayerjain commented on #194
@johntrimble @jimdickinson We just faced this issue again using this same operator. We had created dc2 Cassandra cluster last time. It just crashed with similar errors.

cassandra pod:

[code]

server system logger

[code]

[2020-10-19 13:26] slayerjain commented on #194
After further debugging, we found this
[code]

This is from node 192.168.166.234
[code]

This is from node 192.168.118.157

[code]

[2020-10-19 16:03] jimdickinson opened #287 "Provide ability to disable/configure the "restart not-ready pods" feature"

[2020-10-20 14:16] jimdickinson commented on #108
Fixed by #263 - will be in cass-operator 1.5

[2020-10-20 14:16] #108 closed

[2020-10-20 14:38] jimdickinson commented on #199
Fixed by #263

[2020-10-20 14:38] #199 closed

[2020-10-20 15:27] #167 closed

[2020-10-20 18:34] #276 closed

[2020-10-21 03:59] cscetbon opened #292 "Add the ability to set labels per rack"
In order to place pods of each rack in different locations, we need to be able to assign specific labels at the rack level. See https://orange-opensource.github.io/casskop/docs/5_operations/0_implementation_architecture#naming-convention-of-created-objects for an example. It's similar to zones but provides a better granularity.

[2020-10-21 04:08] bradfordcp opened #293 "Allow for specifying additional labels on client service"
In EKS, when stateful sets have an external DNS annotation applied (`external-dns.alpha.kubernetes.io/hostname`) the underlying pods become available at an external DNS address.

In GKE, this same tactic results in, nothing. Instead, the annotation must be applied to the service (ideally the client service) for the same behavior to be exhibited.

The CassandraDatacenter spec should allow for speci

[2020-10-21 04:10] cscetbon opened #294 "Add ability to add sidecars"
#263 says that it provides a way to configure existing init-containers/containers, but it doesn't say that you can add new containers. Please confirm I'm right and if that's the case then having the ability to add sidecars is needed for us, users of CassKop. You can find examples at https://orange-opensource.github.io/casskop/docs/3_configuration_deployment/5_sidecars but we use sidecars to config

[2020-10-21 04:41] jsanda commented on #294
You can in fact add new containers. Here is an example from some work I was doing earlier today:

[code]
Note that I included the `cassandra` container which the operator creates. The operator will merge my changes which is really nice.

There is a downside with the `podTemplateSpec` property though. Let's say that you _only_ want to add an initContainer. You cannot do that because the pod spec re

[2020-10-21 08:08] RobbieJVMW commented on #268
nope need to re-open looks good.

[2020-10-21 15:15] bradfordcp commented on #294
To be clear you _can_ specify `containers: []` and it will accept the pod template spec. WRT annotating added containers with additional environment variables do you have a list of keys / values? I'm certain that's something that can be added without too much issue.

[2020-10-21 15:21] bradfordcp commented on #292
I'm a big fan of this approach vs the static zone identifier.

@jimdickinson should we just add a new field in the rack, say `selector`, that accepts a free form set of key/value pairs? I'm in favor of deprecating the `zone` field altogether.

[2020-10-21 15:28] jsanda commented on #294
Actually, you _must_ specify containers which is what I do not like. Here is an example to illustrate:

[code]

[code]
In the case where you _only_ want to specify additional initContainers, it is confusing at best and error prone at worst that you have to specify app containers. As I mentioned in my previous comment, I believe this is because the `PodSpec` type does not allow an empty value for t

[2020-10-21 15:29] jsanda commented on #292
👍

[2020-10-21 15:38] bradfordcp commented on #131
Yep, closing

[2020-10-21 15:40] #131 closed

[2020-10-22 01:38] cscetbon commented on #294
Yeah it's annoying to have to specify an empty list. Other than that if I understand we can do exactly the same as CassKop does with Sidecars. Other question as I'm seeing it above. Why do you need to specify cassandraDataVolumeClaimSpec in storage config ? It seems you can only use it for Cassandra containers so why both with having the key `cassandraDataVolumeClaimSpec` ?

[2020-10-22 02:16] jsanda commented on #294
Looks like I misunderstood and stand corrected about being able to specify empty list for `containers`. I guess that helps make my point about it being confusing :)

[2020-10-22 15:08] slayerjain commented on #194
Would really appreciate it if someone can help with this. If required we can also contribute the solution to this problem :)

[2020-10-22 18:54] bradfordcp commented on #111
Yes, we are working through this issue now.

[2020-10-22 19:00] bradfordcp opened #295 "Refactor how CRD is generated in Helm"
Right now users must select the appropriate YAML file to install cass-operator related to their version of Kubernetes. This is due to a BUG upstream, but it leads to additional work on our side maintaining these templates and rendering multiple CRDs. Instead let's remove the offending entries (or provide the appropriate default) and consolidate the CRDs into a single file that works across version

[2020-10-22 19:09] jsanda commented on #295
I want fill in some details around the Helm problems that this is causing. I am trying to include the cass-operator chart as a subchart for another project. I tried installing the cass-operator chart in a cluster that already has the CRD installed. The `helm chart install` failed with:

`Error: rendered manifests contain a resource that already exists. Unable to continue with install: CustomResour

[2020-10-22 19:59] jimdickinson commented on #194
@slayerjain it sounds like you had a worker node reboot but the pods still existed in Kubernetes through that reboot? they are in a bad state now, if so. Just `kubectl delete pod`.

[2020-10-23 02:26] jsanda opened #297 "Namespaced install should not create ClusterRole and ClusterRoleBinding"
The default settings for helm chart are for a namespace scoped operator. When I do a default install,

[code]

I get the following ClusterRole and ClusterRoleBinding,

[code]
Let me know what they should be called in terms of Helm variables, and I will submit a PR with templating to exclude them on namespace scoped installs.

[2020-10-23 02:39] jsanda opened #298 "Trying to Helm chart a second time in different namespace fails"
This is tied to #297.

I do an initial install of the Helm chart,

[code]

Then I try to install a second release into a different namespace,

[code]

In my local repo I went ahead and removed the files `charts/cass-operator-chart/templates/clusterrole.yaml` and `charts/cass-operator-chart/templates/clusterrolebinding.yaml` and tried installing again,

[code]

After some review and discussion I th

[2020-10-23 03:58] #295 closed

[2020-10-23 08:10] slayerjain commented on #194
I deleted all 3 pods in the cluster. 1 pod is green while others don't pass readiness probes.

Faulty pod 1 Cassandra logs
[code]

Faulty pod 1 server-system-logger
[code]

Faulty node 2 Cassandra logs
[code]

Faulty node 2 didn't have any server-system-logger nodes

[2020-10-23 13:27] jimdickinson commented on #194
Ok - what version of the operator and what version of the cassandra docker image do you have? This looks like a bug we've rolled out a fix for. Something like
[code]
will print out the Cassandra docker image in use.

[2020-10-23 15:53] sigfridh opened #300 "Unable to specify busybox version for server-system-logger"
I didn't find a way to specify the busybox docker image version, also i try to override the spec like this:

[code]
but it only append a new container in addition to the busybox:latest one
any ideas?
Thanks
Sigfrid

[2020-10-23 16:56] saurabnigam commented on #194
@jimdickinson docker image datastax/cassandra-mgmtapi-3_11_7:v0.1.12

[2020-10-26 05:44] bradfordcp opened #301 "Investigate support for multiple validating webhook configurations"
Discussing webhooks with @jimdickinson on Thursday we discussed the case where multiple cass-operator instances are running within a single k8s cluster (namespace scoped). The ValidatingWebhook is cluster scoped just like CRDs. This presents a problem when multiple operators are installed. Which should respond to a validation request and who should be called?

Supposedly (Jim knows more on this to

[2020-11-02 17:48] krisiasty commented on #266
any update on that? openshift 4.6 was just released which is also impacted.
please keep in mind that starting with openshift 4.6 there is per-version operator catalog, so you probably need to publish the fixed operator in both catalogs (one for 4.0-4.5, and the other for 4.6).

[2020-11-03 16:17] cscetbon opened #308 "Backup/Restore ability for all users"
In CassKop 1.0.0 we implemented a backup/restore solution. We started to look at Velero but found the following issues:
- we needed to make some changes to the code to be able to only backup part of the filesystem
- we needed to make some changes to be able to restore part of the backup too
See https://github.com/vmware-tanzu/velero/issues/2361

We then collaborated with Instaclustr, developed a n

[2020-11-03 21:41] bradfordcp commented on #278
Should we validate the value being passed in is all lowercase or lowercase the value for use in service identifiers?
How do we currently deal with spaces in cluster names?

[2020-11-03 21:48] jimdickinson commented on #278
I think the current stuff breaks - IMO we just add nicer validation.

[2020-11-03 22:27] bradfordcp commented on #278
Validation is helpful, but not accepting mixed case cluster names will cause issues with users looking to migrate to cass-operator. Cluster names cannot be changed after creation.

[2020-11-03 23:11] jsanda opened #309 "The operator can generate incorrect volume mounts"
Note that this issue surface while I was working with a recent build from master, not from a previously released version.

There are a couple problems that can happen you have a `.spec.podTemplateSpec` that includes an initContainer with volume mounts. Here is an example manifest with which I reproduced the issues:

[code]
I declare two additional volumes, `medusa-gcp-key` and `medusa-config`. The

[2020-11-10 00:06] #241 closed

[2020-11-11 03:28] cscetbon opened #312 "Crossed IPs handling"
Sometimes IPs from different cassandra nodes of the same cluster can be exchanged and in that case Cassandra refuses to start. CassKop introduced a fix to this issue described [here](https://orange-opensource.github.io/casskop/docs/3_configuration_deployment/9_advanced_configuration/#cross-ip-management).

What it does is store the host/ID map and when it sees that the map changed with an exchange

[2020-11-13 08:46] mkuligow opened #314 "Unable to create Datacenter on Openshift 4.6"
Hi,
I have problem with Cassandra operator (1.14) on Openshift 4.6.3 (Kubernetes version 1.19).

### Sumarry:
Got this during CassandraDatacenter creation
[code]

### Installation process:
1. Apply [manifest](https://pastebin.pl/view/02160c68) with CRD/RBAC
2. Create storage for Cassandra
[code]
3. Deploy datacenter
[code]

Now i got issue.

### Cluster spec:
*  3 workers and 3 masters
* Each mach

[2020-11-17 02:25] cscetbon opened #315 "kubectl plugin"
Another ticket to be casskop compatible by adding a plugin similar to [casskop plugin](https://orange-opensource.github.io/casskop/docs/2_setup/2_install_plugin/). The goal is to ease any operation to run on the cluster using a kubectl plugin with a simple set of commands. That plugin could also be used to simply create clusters by asking some questions and based on the answers building automatica

[2020-11-17 10:59] burmanm commented on #314
I think this is related to operator version 1.4.1 and kubernetes 1.19. I was able to replicate the issue with a plain Kubernetes.  Going to investigate with master next.

[2020-11-19 16:57] jimdickinson opened #316 "Example / tutorial showing how a user can customize the Cassandra image being used"
I think an example that shows off Ubuntu 20 / JDK 11 / Cassandra 3.11.latest would be really illustrative.

[2020-11-19 18:31] jimdickinson commented on #300
Fixed by #311

[2020-11-19 18:31] #300 closed

[2020-11-19 18:34] jimdickinson commented on #273
@jeromatron I think #277 fixes this - can you confirm?

[2020-11-19 18:35] jimdickinson commented on #274
Fixed by #279

[2020-11-19 18:35] #274 closed

[2020-11-19 18:36] #250 closed

[2020-11-19 18:38] #281 closed

[2020-11-19 18:43] jimdickinson commented on #254
#263 allows full customization, too, although I think #67 is enough for `nodeSelector` + `tolerations` on the cassandra pods

[2020-11-19 18:43] #254 closed

[2020-11-19 18:44] #208 closed

[2020-11-19 18:46] jimdickinson commented on #92
Fixed by https://github.com/datastax/cass-operator/pull/228

[2020-11-19 18:47] #92 closed

[2020-11-23 02:32] cscetbon opened #318 "Add ability to create multiple datacenters"
Another ticket to be CassKop compatible. We need to support multiple datacenters, for instance having on the same site one datacenter for regular workload and one for spark jobs. We had that discussion in the past and @jsanda made some proposals that could be used as a starting point or maybe a solution.

[2020-11-23 02:36] cscetbon opened #319 "Add ability to create a Cassandra cluster extended on multiple k8s clusters"
Another ticket to be CassKop compatible. This ticket is to have something similar to [multiCassKop](https://orange-opensource.github.io/casskop/docs/2_setup/3_multi_casskop). So it's different from #318 as it is about extending a cluster on multiple kubernetes clusters. Of course it also needs to work with multiple datacenters, so it would probably make sense to implement it after #318.

[2020-11-23 03:43] cscetbon commented on #318
Okay I think we can close the ticket as the ability is already available at https://docs.datastax.com/en/cass-operator/doc/cass-operator/cassOperatorUsing.html?hl=multi#Establishingamulti-datacentercluster. I also tested it using the same object and replacing its name.

[2020-11-23 03:43] #318 closed

[2020-11-24 01:11] jimdickinson commented on #318
👍  I think we could still make multi-DC-in-one-k8s-cluster more automated, but we do support it with a rather long procedure to get it working.

[2020-11-24 04:24] cscetbon commented on #292
@bradfordcp @jsanda let me know what you think about the changes I pushed. If we're on the same page I'll update the tests and the webhook

[2020-11-25 16:24] rsds143 opened #322 "dse server versions 6.8.5-6.8.7 break super user (operator 1.5.0)"
the reconcile loop seems to error on every run(note dse 6.8.7 image works fine EDIT turns out this is wrong see comment below). I have uploaded the operator logs, mgmt api logs, dse logs and secrets (was generated from an automated test safe to post), as well as the cassdc
[Archive.zip](https://github.com/datastax/cass-operator/files/5597939/Archive.zip)

`{"level":"error","ts":1606317958.102973,"

[2020-11-25 20:28] jdonenine opened #323 "Watch get pods for Windows OS"
As part of the k8ssandra cass-operator exploration, when running the k8s create cluster operation on Win OS, an issue with watching of k8s pods was detected.  The Linux watch command is not available to Windows users directly when run from a command console.

This task is to create detection of Win OS & proper output of pod details during the 'kubectl get pod' watch step.

Migrating from: [Jira K8

[2020-11-26 10:34] rsds143 commented on #322
Stand corrected some I did some more digging with our automation code and realized we were not overriding server version like I thought we were.

So this appears to affect all images after 6.8.4

[2020-11-27 18:13] cscetbon opened #324 "Multiple installs in namespace mode fail"
Currently if we try to install the operator in 2 different namespaces using helm, the second install fails with
[code]

The reason is that CRDs are cluster-wide and can't be installed twice. But your helm chart install it no matter what.

helm 3 supports now a folder called crds, see https://helm.sh/docs/chart_best_practices/custom_resource_definitions, and would skip that step if they already exi

[2020-11-29 21:39] jimdickinson opened #325 "server-system-logger is delaying Termination"
The `cassandra` container has a `preStop` hook, but the `server-system-logger` does not. I've observed that means the pod is left in the Terminating phase for the entire `terminationGracePeriodSeconds`.

[2020-11-30 22:03] jsanda opened #326 "setting rollingRestartRequested and update clusters causes two rolling restarts"
I updated `.spec.podTemplateSpec` and also set `.spec.requestRollingRestart` to `true` in my CassandraDatacenter. I then applied the changes via `kubectl apply`. I observed that this causes two rolling restarts of the cluster.

Once I realized what was going on, I simply did not set `.spec.requestRollingRestart` to avoid a second rolling restart.

In this type of situation I think operator should

[2020-12-02 05:24] cscetbon opened #327 "Allow to add PVCs in order to retain data or provide some room to sidecars"
As a more advanced users feature and to be CassKop compatible, I'm proposing to add this feature which would provide the ability to add PVCs to :
- provide more space to retain logs (let's imagine cdc is enabled and it needs more room)
- provide other types of PVCs for certain types of files
...

In CassKop the [same parameter](https://github.com/Orange-OpenSource/casskop/blob/v1.0.1-release/pkg/a

[2020-12-02 05:30] cscetbon commented on #294
I think we can close that one in favor of https://github.com/datastax/cass-operator/issues/327. @jimdickinson, if you agree, let's close that one.

[2020-12-02 05:38] jsanda commented on #327
Can't you just add other PVCs through the `PodTemplateSpec` property?

With the medusa integration in k8ssandra, we are not adding any PVC, but we are adding additional volumes.

[2020-12-02 18:15] cscetbon commented on #327
@jsanda no you can't, see https://godoc.org/k8s.io/api/core/v1#PodSpec. You need to create those PVCs somehow and get them defined. That's what storageConfig is used for in both our repos. when the controller parses it it creates the corresponding PVCs.

[2020-12-02 18:18] jimdickinson commented on #327
yes that's right @cscetbon - in other words `podTemplateSpec` doesn't give the ability to edit the `statefulSet`'s `volumeClaimTemplates`

[2020-12-03 20:36] tonyfahrion opened #328 "Helm Chart 1.5.0 not available on charts index"
Hi,

I tried to install the helm chart version 1.5.0 today, but figured out that only version 1.4.1 is available on https://datastax.github.io/charts.

Might this be an issue or is this done by intention?

Kind regards
Tony

[2020-12-04 03:29] cscetbon commented on #327
@jimdickinson @jsanda What about adding a parameter called `volumeClaimTemplates` then ? It would be really similar to `podTemplateSpec` but for PVCs that could then be mounted in sidecars ? We could have something like
[code]
We could also make cassandra required or not in that parameter and deprecate storageConfigs. wdyt ?

[2020-12-06 19:32] jimdickinson commented on #328
Thanks for the report - some automation failed, and we fixed it -> https://github.com/datastax/charts/commit/906dba2d47db1a37cd83566d3871075f1657d8ed

Please post back here if you've still got problems!

[2020-12-06 19:35] jimdickinson commented on #327
I'm +1 for adding that in the existing StorageConfig struct

https://github.com/datastax/cass-operator/blob/e68babc3dfcf2be88a945ec3860f4feafc8ffbf3/operator/pkg/apis/cassandra/v1beta1/cassandradatacenter_types.go#L211

[2020-12-06 22:37] jsanda commented on #327
I like it!

On Sun, Dec 6, 2020 at 2:35 PM Jim Dickinson <notifications@github.com>
wrote:

--

- John

[2020-12-06 22:49] jimdickinson opened #329 "Use alterKeyspace endpoint from management-api to make multi DC more seamless"
https://github.com/datastax/management-api-for-apache-cassandra/pull/30 added some stuff we needed. Multi-DC has problems coming up with system_auth and the createRole firing in one of the datacenters with LOCAL_ONE.

[2020-12-07 03:52] jsanda commented on #329
@jimdickinson how does the operator currently configure replication for system_auth?

[2020-12-08 04:21] #292 closed

[2020-12-08 12:20] rsds143 commented on #322
ok turns out this was a bug in the mgmt api and the images, closing as there is nothing to do in the operator

[2020-12-08 12:20] #322 closed

[2020-12-08 14:32] rsds143 opened #331 "Copy configured registry pull secret to cassdc namespace when watching all namespaces"
The common case for this is while watching all namespaces for cassandradatacenters I have one private registry that hosts datastax/dse-server and datastax/cass-operator and therefore I need to have both the pods and the operator to have access to the same information so they can pull their images.

If we pass in the DEFAULT_CONTAINER_REGISTRY_OVERRIDE_PULL_SECRETS and combine it with WATCH_NAMESPA

[2020-12-10 06:11] cscetbon commented on #327
`volumeClaimTemplates` is an existing statefulset field of type PersistentVolumeClaim. So I'm using `AdditionalVolumes` instead. Let me know if you have a better idea
[code]

[2020-12-11 14:36] brendancicchi opened #332 "Allow only CA file to be stored as a secret (no JKS)"
I would like to be able to control the signing CA used by the operator, but would still like the operator to do the actual JKS generation on my behalf.

The current code path will only generate the JKS file if the CA does not exist (and the operator generates the CA).

Below error is encountered when attempting to launch cluster with only the CA in place in the Kubernetes secrets for the namespace

[2020-12-15 00:52] erickramirezDSE opened #334 "Certificate renewal workflow requires review and documentation"
Nagasri asked how certificates get renewed in https://community.datastax.com/questions/9649/.

@jimdickinson confirmed that the [certs have a one year expiry](https://github.com/datastax/cass-operator/blob/v1.5.0/operator/pkg/utils/crypto.go#L29) and that the operator will generate a new one but the workflow is not clear and needs to be documented.

[2020-12-15 14:46] brendancicchi commented on #334
It's not as simple as deleting the secrets though because we will have incompatible communication with internode communication when internode SSL is enabled. Currently the CA is generated with a 1 year TTL and the leaf certificate is also generated with a 1 year TTL. Ideally the CA would have a longer TTL (generally 5-10 years), and then there are two workflows that need to be accounted for:

1) L

[2020-12-17 05:04] jsanda commented on #301
I was actually investigating this some yesterday for k8ssandra. I will do some more investigation and report back my findings.

[2020-12-17 05:19] knagasri-123 commented on #334
@brendancicchi , from your post what I understood is , operator will  generate  default certificates for one year and will not renewel the certificates automatically

[2020-12-20 17:38] ds-steven-matison opened #340 "Documentation Adjustment for "cluster2""
While following documentation for GCP: [Connect to Cass Step](https://docs.datastax.com/en/cass-operator/doc/cass-operator/cassOperatorConnectWithinK8sCluster.html)  I ran into issue when I execute this command:

`kubectl get secret -o yaml cluster1-superuser -n cass-operator`

I thought this was a conflict from me actually testing a "cluster2" after getting stuck in "cluster1", but I blew both aw

[2020-12-20 18:04] ds-steven-matison commented on #340
https://github.com/datastax/cass-operator/commit/af3011d47005e97ee2a6e0346cd6b239661ddef5

[2020-12-23 04:08] jsanda commented on #301
While a ValidatingWebhookConfiguration is cluster-scoped, it is entirely possible to effectively limit the scope of a webhook to a particular namespace using label selectors.

I have done some preliminary testing to verify that this is possible. Here is an example manifest:

[code]

Note the `namespaceSelector` field. The namespace has to have those labels. I was researching this in the context of

[2020-12-23 06:17] #327 closed

[2020-12-23 12:52] ds-steven-matison commented on #149
I bumped into this working on Backups in IKS.  I need sample yaml showing placement for enabling backup.  Reported by IKS User, enabling backup in cassandra.yaml causes pods to not restart.

[2020-12-23 15:14] jeromatron opened #345 "YamlConfigurationLoader seems to reload configuration too much"
As a node in my cluster starts up, it seems to be doing a lot of yaml configuration loading.  For example, the server hasn't completely started up yet and yet I see this:

[code]

mostly alternating between young G1 GC pauses and those statements.  Is that wasting startup time by doing that configuration reload over and over again?

[2020-12-23 15:59] ds-steven-matison commented on #149
Just an update here with the info i need.  The syntax was actually in an existing yaml sample.  in the cluster yaml the config for backup should be:

`    cassandra-yaml:
      backup_service:
        enabled: true`

and my example yaml is:  https://github.com/ds-steven-matison/cass-operator/blob/master/operator/example-cassdc-yaml/dse-6.8.x/example-cassdc-minimal3.yaml

[2020-12-30 15:36] #323 closed

[2020-12-30 15:58] jimdickinson opened #347 "Update to Go 1.14"
1.13 is no longer getting updates.

[2020-12-30 19:55] #328 closed

[2020-12-31 02:03] nderraugh opened #349 "Build images for ARM64 and use docker manifest for single docker repo"
#### Use Case
Running Cassandra on a Raspberry Pi 4 Kubernetes cluster.

#### Problem
Installing Cassandra with https://k8ssandra.io/ results in cass-operator logging `exec format error`.

#### Feature Request
Build docker images for amd64 and arm64.  Make use of the `docker manifest` or `docker buildx` (https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/) to link different arc

[2020-12-31 02:26] jimdickinson commented on #349
Thanks for opening the issue @nderraugh. Here's where we are at with arm64 support. We've pushed arm64 builds of cass-operator, and the management-api, but not the cass-config-builder.

https://hub.docker.com/layers/datastax/cass-operator/1.5.0/images/sha256-415dc167c47d4195e1ba46c6ddcbb810fdee09fa6fbc2a7c313bfa11c7b7aacd?context=explore

I'll see how or why k8ssandra isn't consuming those.

I've

[2021-01-05 21:25] jogoertzen-stantec opened #350 "Rolling restart fails with new pod IP address"
## Environment

Red Hat OpenShift Container Platform 4.5
DataStax Kubernetes Operator for Apache Cassandra 1.4.1

# Reproduction

- create a new CassandraDatacenter

[code]

- wait for the cluster to come up

![image](https://user-images.githubusercontent.com/41205049/103699930-ead1ba00-4f60-11eb-9da8-aa06aff48973.png)

- trigger a rolling restart with `spec.rollingRestartRequested: true`
- wait f

[2021-01-05 22:11] jimdickinson commented on #294
Yes, I agree.

[2021-01-05 22:11] #294 closed

[2021-01-06 21:44] jsanda commented on #298
@jimdickinson do you know where the `cass-operator-cr` ClusterRole is used?

[2021-01-06 22:46] jsanda commented on #298
The name for the ClusterRole defined in `charts/cass-operator-chart/templates/clusterrole.yaml` defaults to the `clusterRoleName` variable which has a value of `cass-operator-cr`. This prevents me from installing the chart multiple times without explicitly overriding the `clusterRoleName` variable.

If we instead have `clusterRoleName` default to an empty string, we could then use a default value

[2021-01-08 22:10] #347 closed

[2021-01-09 00:03] #309 closed

[2021-01-11 04:03] jsanda opened #352 "Missing superuser secret should be reported in CassandraDatacenter status"
If I create a CassandraDatacenter and set `.spec.superuserSecretName` to a bad value such that the secret does not exist, cass-operator logs errors like the following:

`{"level":"error","ts":1610336606.837807,"logger":"reconciliation_handler","msg":"CassandraDatacenter resource is invalid","requestNamespace":"default","requestName":"dc1","loopID":"d4014dd7-b580-4368-ba54-37a2dbe82906","error":"Co

[2021-01-11 21:21] jsanda opened #353 "Should CalculateDockerImageRunsAsCassandra function be updated for newer Cassandra versions?"
We recently added support for Cassandra 3.11.8 and 3.11.9 in k8ssandra. It led to this issue https://github.com/k8ssandra/k8ssandra/issues/181.

The `CalculateDockerImageRunsAsCassandra` function checks specifically for the following versions:

* 3.11.6
* 3.11.7
* 4.0.0

Now that we have management-api images for 3.11.8 and 3.11.8, should this function be updated to be behavior consistent?

[2021-01-12 19:53] bradfordcp commented on #353
I just hit this while testing out 3.11.8-ubi7. Let's get this prioritized up.

[2021-01-12 20:17] jsanda commented on #353
I can work on this.

[2021-01-13 10:10] florissmit10 opened #355 "Permission errors in cassandra container"
When I create a CassandraDatacenter the cassandra pods wont start, and they have the following error:
[code]
Iam using the following configuration:

[code]
We are running this on an on premise rancher environment.
Anyone have any ideas on what causes this?

[2021-01-13 12:52] fdehay commented on #316
We definitely need to be able to add custom items to the standard image (jdk, exporters...). Any progress on this example? Thanks :)

[2021-01-14 20:44] xingh commented on #316
@JeremiahDJordan started a discussion about building containers

- Docker library has images - https://hub.docker.com/_/cassandra
- Apache Cassandra will have our own area for images  https://hub.docker.com/r/apache/
-- https://hub.docker.com/r/apache/cassandra
-- https://hub.docker.com/r/apache/cassandra-testing-ubuntu2004-java11-w-dependencies

@fdehay  asked about this specific ticket on gettin

[2021-01-14 20:51] jimdickinson commented on #316
I stalled out on this, but I did hit a good milestone. I'll put up a fresh GH repo as an example.

I got Intel Clear Linux / latest JDK 8 / latest Cassandra release tarball working. I can't quite remember what I wanted to do next.

[2021-01-15 03:45] jsanda commented on #316
@emerkle826 Do you think that you might be able to provide something? It seems in line with what you have been working on lately.

[2021-01-18 09:07] mgorsk1 opened #357 "Cassandra Datacenter deletion hangs on finalizer"
When helm delete command is executed to delete helm deployment containing cassandra datacenter (and operator), cassandra data center resource is not deleted. Doing `kubectl delete cassdc $name_of_cassdc_object` doesn't do any good either - the command hangs indefinitely and object is not removed. Using `grace-period=0` and `force` flags also doesn't help - command terminates immediately but the ob

[2021-01-18 09:18] rsds143 commented on #278
to add to this spaces in cluster names also break things;

[code]

[2021-01-18 15:46] florissmit10 commented on #355
Apparently this is a known bug. I switched to temporary using a different container after having a call with @bradfordcp

[2021-01-18 15:46] #355 closed

[2021-01-18 16:16] florissmit10 opened #358 "Nodeport configuration not working"
When setting the nodeport in the CassandraDatacenter crd, the resulting environment doesnt get a working nodeport.

[code]

The resulting services look like this:
[code]
The containers dont listen on the newly created ports, only on the normal ports (as they should)
[code]
I would expect the services to map from the nodeport to the targetport (9042) while keeping the 9042 port open for services wi

[2021-01-19 12:07] knagasri-123 opened #360 "Is Cass-operator supports node-affinity option"
How we deploy a cassandra cluster in a specific node pool.. I was trying with the below way, but it is not deploying in a specified node-pool :
tolerations:
      - key: "dedicated"
        operator: "Equal"
        value: "####"
        effect: "NoSchedule"
    affinity:
      nodeAffinity:
       requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpres

[2021-01-21 07:45] zhoushuke commented on #194
any updates?

[2021-01-21 14:49] jsanda opened #364 "Creating a user with a non-existent secret causes a panic"
Create a CassandraDatacenter like this:

[code]

The `validateCassandraUserSecrets` function in `secrets.go` does not check that the secret actually exists. This in turn causes a panic like this:

[code]

[2021-01-21 14:50] jsanda commented on #364
@burmanm would you mind submitting a PR for this? We need this fixed for authentication support in k8ssandra.

[2021-01-22 14:25] jimdickinson commented on #350
@jogoertzen-stantec thanks for the detailed report of your problem! What kind of StorageClass are you using? Something ephemeral? Getting new IPs is normal, but it doesn't cause problems without also losing the storage.

[2021-01-22 17:00] jogoertzen-stantec commented on #350
@jimdickinson

No problem!

I believe the storage is not ephemeral, as when the rolling restart is triggered the persistent volume claim seems to stick around.

Here is the YAML for the actual storage class we are using (ie. not `my-cool-storage-class-name`).

[code]

Spinning up a datacenter produces these persistent volume claims.

![image](https://user-images.githubusercontent.com/41205049/1055

[2021-01-22 18:16] jogoertzen-stantec commented on #350
Also, we did not see any rolling restart issues when using the commercial `datastax/dse-server` image for the datacenter. Here is the YAML we used in this case.

[code]

[2021-01-25 13:42] jsanda commented on #293
I will work on a PR for this.

[2021-01-25 13:58] jimdickinson commented on #357
@jsanda is this related to how K8ssandra installs things with helm? The cassdc needs to be explicitly deleted, and then the operator can reconcile that change and do some cleanup on other resources (namely PVCs) and then it removes the finalizer.

The deletion procedure is outlined in the README.

https://github.com/datastax/cass-operator#uninstall

[2021-01-25 13:59] jimdickinson commented on #352
Is any event left on the cassdc that you can see with `kubectl describe`?

[2021-01-25 14:50] jsanda commented on #357
@mgorsk1 did you hit this with k8ssandra? If so, what version of the charts?

The problem is that there are no ordering guarantees when you delete with Helm. The cass-operator deployment can get deleted before the CassandraDatacenter, and then you end up in this situation.

In k8ssandra we implemented a pre-delete hook that will make sure any CassandraDatacenters created via the k8ssandra chart ge

[2021-01-25 15:51] mgorsk1 commented on #357
Thanks for replies ! We are using our own chart, installing operator and cassandra datacenter. Something much simpler than k8ssandra. We'll try adding the pre-delete job similar to the cleaner one, thanks for the tip !

[2021-01-25 17:27] mgorsk1 commented on #357
Just to update - added a pre-delete job and worked like a charm, thanks for the help !

[2021-01-25 17:27] #357 closed

[2021-01-25 17:32] mgorsk1 opened #369 "Reaper schema init job has hardcoded image"
We're trying to enable reaper for Cassandra Datacenter by setting `reaper.enabled: true` and `reaper.image` to our internal artifactory proxying docker-io (we cannot specify images directly like we would in env with open internet connection - everything needs to go through a proxy).

The issue is that Cassandra Operator has hard-coded image for init job https://github.com/datastax/cass-operator/bl

[2021-01-25 19:54] johntrimble opened #370 "Fix release script github action skopeo error"
Currently, when running the release script, skopeo login fails due to the following error:

[code]

See this job failure for an example: https://github.com/datastax/cass-operator/runs/1740257796?check_suite_focus=true

[2021-01-25 20:38] jsanda commented on #369
Hi @mgorsk1

Unfortunately the Reaper integration in cass-operator has some problems and will be removed in a future release. For background see #335 and #211.

If you want to use Reaper with with cass-operator, then I strongly recommend checking out https://k8ssandra.io/ If you would like to learn more about using only the Reaper portion, please feel free to open a ticket in https://github.com/k8

[2021-01-26 08:01] #370 closed

[2021-01-26 19:26] bradfordcp opened #372 "Update minimal DSE example to include config for metrics collection"
[code]

should be included in https://github.com/datastax/cass-operator/blob/master/operator/example-cassdc-yaml/dse-6.8.x/example-cassdc-minimal.yaml

[2021-01-26 21:04] jeromatron commented on #293
Would the CassandraDatacenter spec allow for specifying annotations as well?

[2021-01-27 16:16] emerkle826 opened #373 "Support for Cassandra 4.0 beta images"
In working with the K8ssandra project, it seems that the server version matching in cass-operator only supports matching on X.Y.Z versions. It would be beneficial if cass-operator could support 4.0 betas like `4.0-beta4`.

[2021-01-27 18:22] jsanda commented on #293
That seems reasonable to me. I can add support for that as well.

@jeromatron do you want to specify label/annotations for only the client service or for all of the headless services that cass-operator creates? If we are adding the ability to set labels/annotations for one service, I wonder does it makes to go ahead and support for all of them.

[2021-01-27 22:28] mitsaravanan opened #374 "Support for Backup for GCS Bucket Subdirectories"
While creating backup in GKE cluster, we can currently handle a backup in GCS like
[code]

The customer needs the ability to use Subdirectories for google_bucket_name like
backup/dev
backup/qa

[2021-01-27 22:34] mitsaravanan opened #375 "Read-only access to the data volume - GKE cluster"
Customer would like to have the ability for some users to have read only access to K8S pods. The users should not have extreme access to the cluster and running process like JMX or nodetool.

[2021-01-27 22:54] mitsaravanan commented on #374
Not the right place to report this issue. Will report the issue at DSE Server Side Backup and Restore

[2021-01-27 22:54] #374 closed

[2021-01-28 00:06] jtyl2017 commented on #293
sample annotations required in the metadata.annotations section of cluster headless service (e.g. cluster1-dc1-service created by cass-operator)
[code]

[2021-01-28 19:27] jimdickinson commented on #316
Here's where I've gotten to

https://github.com/jimdickinson/customized-cassandra-docker-image

I think I had plans to put up one more step, but the image produced at the end of the step-two Dockerfile was working, as I recall

[2021-02-04 21:31] florissmit10 commented on #350
We had this problem as wel. I dont know if it has the same cause, since we are using a different image.
In our case the pv was mounted but in the wrong place. These settings made everything work for us:
[code]
This actually reconfigures the defaults which were somehow overridden to use /opt/cassandra/data instead of /var/lib/cassandra.

An easy way tot test if this is the cause of your problem is

[2021-02-05 16:59] jogoertzen-stantec commented on #350
@florissmit10

Thanks for taking the time to reply as it appears your issue was indeed our issue!

Here is the datacenter yaml that fixed the rolling restart issue.

[code]

[2021-02-05 16:59] #350 closed

[2021-02-08 07:34] Smita8081 opened #377 "Change in imagepolicy of Image:busbox from Always to IfNotPresent"
When I create a Cassandra cluster using cass-operator, there is sidecar container created using image busbox, whose policy is set to Always. In order to deploy pods on worker nodes, there is a restriction to have internet connectivity on worker nodes in order to pull that image everytime from dockerhub.

Also on trying to modify container information deployed by cass-operator, there is an error me

[2021-02-09 03:42] jsanda commented on #373
@emerkle826 I know you started to look into this but I am not sure how far you got since you have been heads down with management-api work. Do you think will be able to work on a PR for this?

[2021-02-09 14:43] emerkle826 commented on #373
@jsanda I haven't made much progress on this unfortunately.

[2021-02-09 18:30] krisiasty commented on #377
You are missing additional "spec:" between "podTemplateSpec:" and "containers:". This is very common mistake.
The corresponding fragment should look like this:
[code]

Regarding the issue - not only imagePullPolicy should be set to IfNotPresent, but also image should be specified with a correct tag, i.e. `image: busybox:1.32.1-uclibc`.

[2021-02-10 10:54] Smita8081 commented on #377
Sorry mistaken, I have had tried what u mentioned above and yet I was not able to modify server-systerm-logger container's configuration. Have you tried changing that using above code, you mentioned?

[2021-02-12 10:59] DanielBrommer opened #379 "Write Logs on Filesystem"
Hi,

Is there a way to add a PVC for "/var/log/cassandra" when running in a self-hosted environment with multiple Cassandra nodes ?

Thank you and best regards,
Daniel

[2021-02-12 13:57] krisiasty commented on #377
Yes, it worked for me.

Here is a fragment of `kubectl get pods -o yaml` after the change (I modified the policy and container image):
[code]

If it's not working for you please check logs of the pod running operator - you will probably find there error message saying the operator cannot parse cassandradatacenter object configuration.

[2021-02-12 18:19] #364 closed

[2021-02-15 12:34] rwmoin opened #380 "The securityContext of the initContainer should be adjustable to avoid the necesity for creating a SCC when using images able to handle random UIDs"
In our Openshift environment we may only use images from defined registries, preferably Red Hat managed ones. Thus we adjusted the Cassandra Operator to use images from registry.connect.redhat.com, which worked as intended. However the operator unnecessarily  still sets the securityContext of the initContainer in the statefulSet to run as UID: 999, requiering a SCC event though the Red Hat image i

[2021-02-15 19:51] jsanda commented on #379
Hi @DanielBrommer

See https://github.com/datastax/cass-operator/issues/327 for details on how to do it. The changes have been merged in master but not yet release. Let me know if you would like to see an example.

[2021-02-16 03:03] timcosta opened #381 "Permission denied error on pod start"
Hey all! I'm getting some errors in a new installation of this chart on k8s 1.18 in GKE.
[code]

I believe this is similar to #355 which was closed with no solution listed. I'm wondering if there is any update to this situation, and possibly a solution available. Happy to test things if necessary, thanks in advance!

[2021-02-16 03:26] jimdickinson commented on #381
hi @timcosta - could you post your CassandraDatacenter yaml, please?

[2021-02-16 03:36] timcosta commented on #381
[code]

Here it is. It's basically the one from https://github.com/datastax/cass-operator/tree/master/docs/user with a couple tweaks. I've never run cass before, so I was trying to use sane defaults.

[2021-02-16 03:40] jimdickinson commented on #381
thanks - I will work to reproduce the problem!

[2021-02-16 03:45] timcosta commented on #381
Thank you!! If it helps at all, there were no concerning looking logs on the operator server, i installed it using terraform, the first run of the statefulsets failed due to no nodes matching the configured tolerations, and we're running istio in the cluster though i am not using autoinjection in this namespace. The data volume is a pd-ssd on GCP. I also tried running it originally with `spec.dock

[2021-02-16 06:30] DanielBrommer commented on #379
Hey @jsanda

Thank you very much.
Is there already a release date for this feature ?
In #327 everything is described very well, that's enough for me.

Kind regards

Daniel

[2021-02-19 12:36] slayerjain commented on #324
We just stumbled upon the same problem. Would it be fine commenting out the CRD file and installing the helm chart?

[2021-02-19 13:54] jimdickinson commented on #324
Yeah, if your cluster already has the CRD, you can remove it from additional installs.

[2021-02-22 17:28] michelderu opened #382 "CRD for creating keyspaces and roles"
In order to increase security it would be great if keyspaces and roles can be created by use of a CRD. This allows for better integration in Infrastructure As Code. And it prevents an organization from opening up the MGMT API to do this.

[2021-02-24 16:15] pralow commented on #381
For me, this issue is coming if i create the cluster with dockerImageRunsAsCassandra: true. Otherwise it is working fine.   The cassandra pod is not starting up and it in "CrashLoopBackOff" status.

[2021-02-25 19:43] AhmadAlKhaldi86 opened #385 "Node Taints and tolerance for cassdc"
Hello , I am trying to create to different cassdcs in the same cluster. I was not able to deploy the second one as the error below shows

  Warning  FailedScheduling  22s                default-scheduler  0/12 nodes are available: 1 node(s) didn't match pod affinity/anti-affinity, 1 node(s) didn't satisfy existing pods anti-affinity rules, 1 node(s) had volume node affinity conflict, 10 node(s) ha

[2021-02-28 13:59] CarlQLange opened #390 "Why is it disallowed to change storageConfig (ie, increase disk size?)"
I see that it is disallowed to change the storage spec of a DC: https://github.com/datastax/cass-operator/blob/71806eaa1c30e8555abeca9f4db12490e8658e1a/operator/pkg/apis/cassandra/v1beta1/webhook.go#L109-L111

Unfortunately I found this out as I ran out of space in my DC. Before I used cass-operator, I simply resized the PVCs without any issue. Is there no way to do this with cass-operator? I woul

[2021-02-28 14:44] CarlQLange commented on #390
Separately it would be nice to have disk failure handled at an operator level, although I don't know what that behaviour would look like.

[2021-02-28 15:53] jimdickinson commented on #390
Hi @CarlQLange - we put in validation and logic to block this because StatefulSet also disables mutating the volume claim templates on an existing statefulset. There are workarounds, however, and this is a popular request. We'll try to write up a tutorial that covers some of them, but it's very "at your own risk". One of the least risky options if you're on the cloud is using some off-the-shelf do

[2021-02-28 16:40] CarlQLange commented on #390
Hey, thanks a lot for answering on the weekend! I did resize the disks, but for some reason the cassandra pods think they're still the original size. However, that's almost certainly my own fault rather than the fault of the operator.

I think it would be great to hear some other workarounds. I was wondering about adding a new DC and migrating the data from the old one, for example, but that sound

[2021-02-28 17:13] CarlQLange commented on #390
I note that in my case, this issue is compounded by Azure not allowing resizing of disks without detaching them first. Unfortunately I can't kill a cassandra pod and have it stay dead while I issue the resize, of course...

[2021-03-02 09:16] pralow opened #391 "run DockerImage as Cassandra user"
Is there an options to run container as Non-Root Users?  Setting the dockerImageRunsAsCassandra to true, makes the pod to crash while starting.

[2021-03-02 11:13] pralow commented on #391
Starting Management API
cp: cannot create regular file '/etc/cassandra/cassandra-env.sh': Read-only file system
cp: cannot create regular file '/etc/cassandra/cassandra-rackdc.properties': Read-only file system
cp: cannot create regular file '/etc/cassandra/cassandra.yaml': Read-only file system
cp: cannot create regular file '/etc/cassandra/jvm.options': Read-only file system
cp: cannot create re

[2021-03-02 16:50] emerkle826 commented on #391
The Management API images run Cassandra as the cassandra user as of version 0.1.20. You should be able to specify the image used for Management API (I'd recommend v0.1.22) and then set dockerImageRunsAsCassandra as true.

[2021-03-02 17:40] pralow commented on #391
Thank you for pointing to direct version, Still i am running into the same issue
  Normal   Pulled                  28s                kubelet                  Successfully pulled image "datastax/cassandra-mgmtapi-3_11_10:v0.1.22" in 873.054888ms
  Normal   Started                 27s                kubelet                  Started container server-system-logger
  Normal   Pulled

[2021-03-02 17:55] pralow commented on #391
Thank you, it was the PSP permission on the hostpath causing it. After mounting the volume it worked.

[2021-03-03 11:58] abhi93104 opened #393 "Cassandra not connecting from go sdk"
Able to connect to Cassandra via cli and do a query on it but through go sdk, not able to connect to Cassandra and failing with this error.

`gocql: unable to dial control conn 127.0.0.1:9042: Invalid or unsupported protocol version (4); supported versions are (3/v3, 4/v4, 5/v5-beta)`

Code:
`cluster := gocql.NewCluster("127.0.0.1:9042")
	cluster.Authenticator = gocql.PasswordAuthenticator{
		User

[2021-03-03 14:32] slayerjain commented on #393
there's also an issue filed here. They think it's something to do with the database. If we spin up another Cassandra via the cass operator, the connection works fine - https://github.com/gocql/gocql/issues/1536

[2021-03-04 20:40] vanessagithubs opened #394 "helm3 lint failure on cass-operator-chart crd: apiextensions.k8s.io/v1beta1 deprecated"
helm3 lint failure on cass-operator crd: apiextensions.k8s.io/v1beta1 deprecated

cass-operator crd api version needs a bump to v1 (from v1beta1)

[2021-03-05 04:16] jsanda opened #395 "Upgrade operator-sdk to more recent version"
The project is using version 0.17.0 of operator-sdk. The latest version is 1.4.2. There were major changes introduce around 1.0.0 with convergence around Kubebuilder.

The versions of most or all of the kubernetes dependencies of cass-operator are set by operator-sdk.  https://sdk.operatorframework.io/docs/upgrading-sdk-version/ provides a good starting point for the upgrade process which is defin

[2021-03-05 15:00] JeremiahDJordan opened #396 "Per cassandra pod configuration"
One thing that is not supported right now is having configuration options that are specific to a given pod.  This means you can not do things like make a new cluster that uses the exact same token layout as another cluster.  Not being able to do that means backing up and restoring to a new cluster is more time consuming, you can't just re-use existing data directories.

I would expect the configur

[2021-03-05 17:01] zencircle commented on #360
Node affinity is configured via racks
https://github.com/datastax/cass-operator/blob/master/operator/example-cassdc-yaml/cassandra-3.11.x/example-cassdc-full.yaml#L25

[2021-03-08 02:00] cscetbon commented on #232
I agree with the proposal. At the moment, having to resolve the IP and add it to the CassandraDatacenter object to create is annoying. Please @jimdickinson make it happen 😬 . I can also propose my help on that !

[2021-03-08 09:31] mapster opened #397 "Rack health status not updated"
We have multiple CassandraDatacenters in our setup, and a non homogeneous replica count for them. Specifically we have three datacenters with replication 3-3-1. Even though the health of these datacenters seems to be good, cass-operator won't update the status of the CassandraDatacenter resources to `Ready`. The operator is in an infinite loop where it calls `calling Management API cluster health

[2021-03-08 16:39] burmanm commented on #232
Was the wish to have a single hostname instead of any IP addresses? Kinda like the support was done for Kubernetes: https://github.com/kubernetes/kubernetes/issues/13748

Or a combination of IP addresses and hostnames? The current EndpointAddress structure does not allow the use of hostname only, so it would require some sort of IP address probably during deployment (which the operator would then

[2021-03-08 18:50] zencircle commented on #143
We are using Ambassador with Envoy based API gateway, sample configuration for that would be very useful https://www.getambassador.io/docs/latest/topics/running/tls/
https://www.getambassador.io/docs/latest/topics/using/tcpmappings/#tcpmapping-and-tls-termination

[2021-03-08 19:10] jimdickinson commented on #232
The end result needs to be a list of 1 or more IP addresses we push into an `endpoints`. I think resolving DNS in the operator and taking all the IPs returned for each element coming in from the CassDC is good.

[2021-03-09 07:31] DanielBrommer commented on #379
Is included in the 1.6.0 release 🥳

[2021-03-09 07:31] #379 closed

[2021-03-09 22:58] jtyl2017 commented on #293
@jsanda will be good if we have the ability to specify different labels/annotations for different services.
e.g. for the dns annotation I provided above, we may only want that dns defined on main service for client application usage, then a different dns for "seeds service" could be used to connect DC's on different k8s/cloud providers to form 1 cassandra cluster.

[2021-03-11 20:14] bradfordcp commented on #396
What are your thoughts around providing overrides via ConfigMap objects? Rancher's local path provisioned follows this model. I'll try and grab some screenshots to illustrate how it works.

[2021-03-11 21:18] JeremiahDJordan commented on #396
I have no thoughts on the best way to implement it.  @jimdickinson and I were spit balling ideas a while back and we thought maybe the operator pushing data into a label/annotation on the pod would work.  But all ideas welcome.  We found this article which used config maps + init container to distribute the per pod stuff. https://medium.com/faun/unique-configuration-per-pod-in-a-statefulset-1415e0

[2021-03-15 11:41] mapster commented on #397
Currently the only workaround I've been able to find is to delete the pod in datacenter-c which forces cass-operator to ignore the datacenter with one replica when it issues health requests for the two other datacenters.

[2021-03-15 18:33] #232 closed

[2021-03-16 02:41] danielzepp opened #404 "c"

[2021-03-16 06:45] burmanm commented on #396
Would it be possible to include the use-case also? For example, this "Not being able to do that means backing up and restoring to a new cluster is more time consuming, you can't just re-use existing data directories." sounds odd without context. Why would you do that?

Is this about restoring to a new cluster and perhaps should be done in the medusa? Or running a replicated cluster? Should we rath

[2021-03-16 19:57] JeremiahDJordan commented on #396
bq. Why would you do that?

Many C* backup and restore tools have a "fast path" which basically just drops files in place, rather than having to use streaming.  Besides just being a lot faster to do, using a "streaming" path means you need RF * data size available on every node.

Besides backup/restore token stuff, per pod configuration is useful for debugging/support tasks.

[2021-03-17 16:28] jdonenine opened #405 "Migrate source repository to k8ssandra GH org"
As k8ssandra evolves a large swath of the growth in cass-operator will be driven via k8ssandra, so we'll be moving the cass-operator repo from datastax -> k8ssandra.

[2021-03-17 16:38] jdonenine opened #406 "Migrate docker image repository to k8ssandra docker org"
As a companion to #405 we also want to consolidate the docker images generated for cass-opeator under the k8ssandra docker org.

[2021-03-18 16:37] jsanda commented on #396
Some of this could be done via nodetool as well right?

[2021-03-18 17:57] JeremiahDJordan commented on #396
Some. But often there are -D's or config settings you may want to apply that you don't to roll out to a full rack/cluster in order to try something or debug something, and most often they are not something you can change at runtime.

[2021-03-18 21:20] rltvty commented on #293
@jsanda... specifying labels and annotations to all the services works for the linkerd use case I think.

I need to be able to set the `config.linkerd.io/opaque-ports` annotation on all the created services.  More info here: https://linkerd.io/2.10/features/protocol-detection/

[2021-03-21 04:38] jsanda commented on #325
I did a lot of testing on this over the past couple days. The pod definitely stays in the terminating phase for the entire `terminationGracePeriodSeconds`.

The issue is not the `preStop` hook. I tried both adding a `preStop` hook to the `server-system-logger` container and removing the `preStop` hook from the `cassandra` container. Neither change made any difference.

I exec'd into `server-system

[2021-03-22 15:46] jsanda commented on #325
@burmanm came up with a working solution,  from his [gist](https://gist.github.com/burmanm/7f99d67d5008cc480bd50c6b2fbfb8a7):

[code]
The only downside is that we have to build/maintain another image. I couldn't find a way to make it work though with the busybox image.

[2021-03-23 14:58] farrell0 opened #407 "Delete, then restore of Operator fails .."
.  Was testing Kasten/Veeam backup and restore.
.  Given a GCP/GKE K8s cluster with the Operator in one namespace, and a C* cluster in another namespace
   --  Backup the namespace containing the Operator
   --  Delete the namespace containing the Operator, then recreate the same named namespace
   --  Restore the Operator
         Everything seems to be ok; the pods are there and working, all see

[2021-03-23 15:30] farrell0 commented on #407
Update-

   .  There are 11 artifacts in a namespace containing the Operator

      Restoring only 10 of 11, not restoring the 'cass-operator-lock' configMap, allows a restore
      of the Operator

      So, I have a work-around, but this seems wonky.

      I should be able to restore the entire namespace without detail.

[2021-03-27 07:55] #404 closed

[2021-03-29 05:36] Miles-Garnsey opened #410 "README instructions don't work (namespacing issues)"
It appears that the README instructions need to be updated. Currently, they suggest you install the operator using [these](https://raw.githubusercontent.com/datastax/cass-operator/v1.6.0/docs/user/cass-operator-manifests-v1.16.yaml) manifests, which namespaces it to `cass-operator`. The operator then listens only for resources created in that namespace.

The README then suggests you create the bel

[2021-03-29 06:05] jimdickinson commented on #410
The very next line inserts that with a namespace, though...

[2021-03-29 06:40] Miles-Garnsey commented on #410
@jimdickinson I totally missed that the first time around and one of my colleagues brought it to my attention.

I think it is a bit easy to miss, but technically correct, so I'll close this.

[2021-03-29 06:40] #410 closed

[2021-03-29 12:20] skhatri opened #411 "Injection of volumeMount and environment variables to "cassandra" container"
Today, if we provide a container "cassandra" in our datacenter yaml, we get a duplicate container name error.

What are your thoughts on performing a merge (cherry-pick  for instance env, volumeMounts) so that we can easily inject environment variable and volume mounts.

For example, "USE_MGMT_API" is hardcoded to true. It would be nice to be able to override that. Similarly, there are many env va

[2021-03-29 13:06] skhatri commented on #411
Update:
We are still using 1.4.1 because of some metrics issue in 1.6.x.
I updated to latest operator 1.6.0-ubi and the following podtemplatespec is merged as expected.

[code]

thank you.

[2021-03-29 13:06] #411 closed

[2021-03-29 21:08] #293 closed

[2021-04-10 17:09] srteam2020 opened #412 "[BUG] PVC can be deleted mistakenly when reading stale deletionTimestamp information"
### Description
We find that in a HA k8s cluster, cass-operator could mistakenly delete the PVC of the cassandra pod after cass-operator experiencing a restart. After diagnosis and inspection, we find it is caused by potential staleness in some of the apiserver.
More concretely, if cass-operator receives a stale update event from an apiserver saying "CassandraDatacenter has non-nil deletion timest

[2021-04-12 05:01] jeromatron opened #413 "Be able to source CONFIG_FILE_DATA from a secret"
Rationale:

- The env variable CONFIG_FILE_DATA contains keystore/truststore passwords, search/bind user ldap password
- If values for env variable is in a k8s secret, access can be restricted from k8s dashboards and google console (GKE) or aws console (EKS)

[2021-04-12 17:37] jimdickinson commented on #98
@jeffbanks not urgent - but I heard you might be able to try and repro this on Windows. I have a feeling we need some doc improvements and then it would be fine.

[2021-04-12 17:40] jimdickinson commented on #113
Reaper is managed as part of k8ssandra.io now

[2021-04-12 17:40] #113 closed

[2021-04-12 17:47] jimdickinson commented on #71
This is more of an issue of Cassandra defaults, and k8ssandra is inheriting more of this end-to-end usability and wiring work.

[2021-04-12 17:47] #71 closed

[2021-04-12 17:48] jimdickinson commented on #141
Closing here - will revisit as park of k8ssandra.

[2021-04-12 17:48] #141 closed

[2021-04-14 07:22] arianvp opened #414 "Cass-operator the password of the reaper is visible in the event log when request fails"
The issue is that the management API takes the password as a query-parameter; and if the request fails that causes the password to show up in the event log

[2021-04-14 08:52] dasuresh opened #415 "pod goes to CrashLoopBackOff state (switching to "cassandra": operation not permitted) while creating CassandraDatacenter with non root user"
oc version:
Client Version: 4.6.0-202101301510.p0-18d7461
Server Version: 4.6.16
Kubernetes Version: v1.19.0+e49167a

I am running entire steps with non-root user with admin access
cass-operator is up and running:
[code]
when i try to create CassandraDatacenter, its pods goes into CrashLoopBackOff state

[code]

I am using `example-cassdc-minimal.yaml` and only change done is storageClassName to r

[2021-04-14 08:59] dasuresh commented on #415
I even tried the following:
Granted "privileged" SCC to "deployer"  and "cass-operator" service account in a cass-operator project and "vdemo" nonroot user in the cluster scope.
verified RoleBinding and ClusterRoleBinding which is related with "privileged" scc for "deployer" and "cass-operator" service account and "vdemo" nonroot user, we can see the SCC is managed by RBAC

**oc adm policy add-scc

[2021-04-14 21:11] jsanda commented on #415
Hi @dasuresh

The default 3.11.7 image is not built to run as a non-root user. Take a look at the images listed [here](https://github.com/k8ssandra/k8ssandra/blob/main/charts/k8ssandra/values.yaml#L18). These are all built to be run with non-root user.

Note that you will also need to set `dockerImageRunsAsCassandra: true` in your spec.

[2021-04-14 21:38] jsanda commented on #412
Hi @srteam2020

Thanks for the detailed issue. The fix you describe sounds reasonable.

Can the bug be reproduced consistently? (I assume the answer is no)

I would like to be able to reproduce the bug in order to properly verify the fix.

[2021-04-15 02:18] jsanda commented on #413
The `CONFIG_FILE_DATA` env var is set in the `server-config-init` initContainer. It includes Cassandra and/or JVM config properties in `.spec.config`. It also includes a few settings from outside of `.spec.config` like the seeds and flags for whether graph, solr, and spark are enabled.

I suppose we could add a property like `.spec.configSecret` that specifies the name of a secret that contains co

[2021-04-15 13:26] chienfuchen32 commented on #308
Hi, here's another cloud based storage backup/restore approach.

* https://github.com/nuvo/cain
* https://github.com/helm/charts/blob/master/incubator/cassandra/templates/backup/cronjob.yaml
@jimdickinson Is it possible feasible solution in cass-operator? Thank you.

[2021-04-15 15:08] jimdickinson commented on #308
We've been working on fully integrated Reaper support as part of K8ssandra (cc @jsanda)

@johnsmartco can we update the docs to remove the text and point to K8ssandra's Reaper docs?

[2021-04-15 16:36] jsanda commented on #308
Hi @chienfuchen32

Please check out https://github.com/k8ssandra/k8ssandra. It is built on top of cass-opertor and provides additional functionality such as repair and backup/restore. You might be interested in the backup/restore docs at https://k8ssandra.io/docs/topics/restore-a-backup/.

[2021-04-16 09:56] dasuresh commented on #415
Thanks @jsanda, set dockerImageRunsAsCassandra to true and also used the recommended image in statefulset and all the pods for datacenter are now created and running fine.
Thanks for yours help !

[2021-04-16 09:56] #415 closed

[2021-04-19 14:32] srteam2020 commented on #412
Hello @jsanda Thank you for the reply.
We send a PR for this https://github.com/datastax/cass-operator/pull/416

We are currently developing a tool to detect/reproduce the bugs that require intricate timing to manifest. Our tool can consistently detect/reproduce this bug. The tool is still in development so we are not able to release it yet. I will definitely let you know when we open the tool.

[2021-04-20 00:32] jeromatron commented on #413
@jsanda I think it would be fine as long as the data mentioned can be secured behind a secret, then I think that fulfills the intent.

[2021-04-23 07:55] burmanm commented on #407
It's by design, it's "leader-for-life" election process, as documented in operator-sdk:

https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#leader-election

We could of course use "leader-for-lease" process as well, but the above process does work correctly. When the pod is deleted, the ConfigMap should be correctly garbage-collected.

I don't know how the restore wor

[2021-04-27 02:44] srteam2020 opened #417 "[BUG] Redundant PVC deletion when Cassandra cluster is scaling down"
### Description

We find that cass-operator triggers repeated pod PVC deletions during node decommission.

When scaling down the cluster, cass-operator will delete pod's PVC in `CheckDecommissioningNodes` as long as the decommissioned pod still exists.
[code]
Inside `cleanUpAfterDecommissionedPod`, controller directly deletes PVC without checking whether the PVC is destined to be deleted (with a n

[2021-05-04 11:59] pralow opened #419 "Spring data cassandra - connection polling"
Creating connection from the spring web application to the Cassandra Cluster(Cass operator) is trying to use the private IP of the pod (nodetool status ip). which would not be exposed outside.

How to use Spring data connection polling without exposing the pod to the outside world ?

Thanks,

[2021-05-11 03:22] #405 closed

[2021-05-11 03:23] #406 closed

[2021-05-11 07:22] knagasri commented on #334
where are the default generated certs stored in a secret after deploying. How can we check. Can anyone suggest on this

[2021-05-28 20:59] springstim opened #422 "Not compatible with Istio service mesh"
There are several things that could be done to make the Cass operator compatible with Istio service mesh; currently I think this Cassandra operator is not usable on Istil 1.8 and above.  Here are some suggestions to increase compatibility:

1. Remove the management API from the general services.    I could be wrong but I don't think there is value in putting the management API port (i.e. 8080) int

[2021-06-03 02:34] jdonenine commented on #422
Hi @springstim thanks for contributing the issue to the project.  As part of the expanding K8ssandra project we've recently migrated the cass-operator project to a new home at [k8ssandra/cass-operator](https://github.com/k8ssandra/cass-operator).  The new repo is where we'll be continuing work on the project and publishing new releases from (we just recently released v1.7.0 and v1.7.1).

Service m

[2021-06-03 02:36] jdonenine commented on #419
Hi @pralow thanks for your question on the project.  As part of the expanding K8ssandra project we've recently migrated the cass-operator project to a new home at [k8ssandra/cass-operator](https://github.com/k8ssandra/cass-operator).  In the new repo is where we'll be continuing work on the project and publishing new releases from (we just recently released v1.7.0 and v1.7.1).

Spring Data integra

[2021-06-03 03:46] springstim commented on #422
Hi Jeff.  Sure, I’d be happy to re-create the issue on the new site.  I’m not an expert in service meshes but I’ve had some success tinkering with the Golang code to see if I could coax the operator image to play nicely with Istio.  I think I understand at least one way to at least get it working but I’m not really skilled with Golang enough to contribute directly.

[2021-06-08 15:31] jdonenine commented on #422
I've gone ahead and recreated the issue at https://github.com/k8ssandra/cass-operator/issues/114

Thanks!

[2021-06-08 15:31] #422 closed

[2021-06-08 15:34] jdonenine commented on #419
I've gone ahead and recreated this at https://github.com/k8ssandra/cass-operator/issues/115

Thanks!

[2021-06-08 15:34] #419 closed

[2021-06-08 15:39] jdonenine commented on #414
I've gone ahead and recreated this issue at https://github.com/k8ssandra/cass-operator/issues/116.

Thanks.

[2021-06-08 15:39] #414 closed

[2021-06-08 15:41] jdonenine commented on #417
I've gone ahead and recreated this issue at https://github.com/k8ssandra/cass-operator/issues/117.

Thanks.

[2021-06-08 15:41] #417 closed

[2021-06-08 15:44] jdonenine commented on #412
I've gone ahead and recreated this issue at https://github.com/k8ssandra/cass-operator/issues/118.

Let's discuss how to get the PR re-created there as well to address it.

Thanks!

[2021-06-08 15:44] #412 closed

[2021-07-02 13:45] jdonenine commented on #324
Migrated to https://github.com/k8ssandra/cass-operator/issues/128

[2021-07-02 13:45] #324 closed

[2021-07-07 13:36] jdonenine commented on #319
Migrated to https://github.com/k8ssandra/k8ssandra/issues/943

[2021-07-07 13:36] #319 closed

[2021-07-07 13:52] jdonenine commented on #315
Migrated over to https://github.com/k8ssandra/k8ssandra/issues/937

[2021-07-07 13:52] #315 closed

[2021-07-07 13:54] jdonenine commented on #308
Both repair and backup/restore are more broadly part of k8ssandra now, so I'm closing out this issue.  If there are specific functionality gaps in either of those features within K8ssandra we can open issues for those specific items.

[2021-07-07 13:54] #308 closed

[2021-07-07 13:56] jdonenine commented on #312
Migrated over to https://github.com/k8ssandra/cass-operator/issues/130

[2021-07-07 13:56] #312 closed

[2021-07-08 17:21] jdonenine commented on #308
Migrated to https://github.com/k8ssandra/k8ssandra/issues/951

[2021-09-04 09:36] camilamacedo86 opened #425 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik